extends ../layout.pug
block title
	-
		var title = '会員専用Webサイト・お問い合わせ'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 会員専用Webサイト・お問い合わせ
	.ac.mb20
		a(href="#con01")
			img(src="../images/support/img1.png", alt="会員専用Webサイト",title="会員専用Webサイト").ml3.mr3
		a(href="http://faq-iyobank.custhelp.com/app/answers/list/kw/iyoca/").pbOpenNewWindow
			img(src="../images/support/img2.png", alt="よくあるご質問",title="よくあるご質問").ml3.mr3
		a(href="#con02")
			img(src="../images/support/img3.png", alt="お問い合わせ",title="お問い合わせ").ml3.mr3
	h3.ac.mb25#con01
		img(src="../images/support/img4.png",alt="会員専用Webサイト",title="会員専用Webサイト")
	p.mb20.ac
		img(src="../images/support/img5.png",alt="24時間いつでもどこでもインターネットで確認や手続きができます。",title="24時間いつでもどこでもインターネットで確認や手続きができます。")
	p.mb40.pl20.pr20
		| ●カードご利用代金明細照会<br>
		| ●ポイントサービスの照会・応募<br>
		| ●キャンペーン一覧・参加登録・参加状況照会<br>
		| ●お客さま登録情報の照会・変更　など
	h4.ac.mb25
		img(src="../images/support/img6.png",alt="IYOCA DC 【 DC Webサービス 】",title="IYOCA DC 【 DC Webサービス 】")
	.row--col2--layout_table.pl15.pr15.mb50
		.col.al.vc
			img(src="../images/support/img7.png",alt="")
		.col.al.vc.pl10
			a(href="https://www2.cr.mufg.jp/newsplus/iyo/").pbOpenNewWindow
				img(src="../images/support/img8.png",alt="会員専用Webサイト「DC Webサービス」",title="会員専用Webサイト「DC Webサービス」")
	h4.ac.mb25
		img(src="../images/support/img9.png",alt="IYOCA JCB 【 MyJCB 】",title="IYOCA JCB 【 MyJCB 】")
	.row--col2--layout_table.pl15.pr15.mb10
		.col.al.vc
			img(src="../images/support/img10.png",alt="")
		.col.al.vc.pl10
			a(href="https://my.jcb.co.jp/Login?link_id=cojp_head_myj_login").pbOpenNewWindow
				img(src="../images/support/img11.png",alt="会員専用Webサイト「MyJCB」",title="会員専用Webサイト「MyJCB」")
	ul.fixindent.pl15.pr15.mb50
		li ※MyJCBにご登録いただくと、本人認証サービス「J/SecureTM（ジェイセキュア）」に自動的に登録されます。本サービスは、無料にてご利用いただけます。
		li ※JCBカードを複数枚お持ちの方は、カードごとのご登録が必要となります。
	h4.ac
		img(src="../images/support/img12.png",alt="IYOCA BC 【 Vpass 】",title="IYOCA BC 【 Vpass 】")
	.row--col2--layout_table.pl15.pr15.mb50
		.col.al.vc
			img(src="../images/support/img13.png",alt="")
		.col.al.vc.pl10
			a(href="http://www3.vpass.ne.jp/mem/top/index.jsp?cc=064").pbOpenNewWindow
				img(src="../images/support/img14.png",alt="会員専用Webサイト「Vpass（ブイパス）」",title="会員専用Webサイト「Vpass（ブイパス）」")
	h3.ac.mb25#con02
		img(src="../images/support/img15.png",alt="お問い合わせ",title="お問い合わせ")
	h4.ac.mb20
		img(src="../images/support/img16.png",alt="IYOCA 全般についてのお問い合わせ",title="IYOCA 全般についてのお問い合わせ")
	.pl15.pr15.mb50
		.row--col2--layout_table--line(style="table-layout:fixed;")
			.row
				.col.al.vc(style="width:42%")
					p 受付時間：9:00 ～ 17:00<br>（銀行休業日は除きます）
				.col.al.vc
					span.hasicon--orange
						img(src=`${assets_prefix}images/icon_free.png`, alt="")
						| 0120-14-2214
			.row
				.col.al.vc
					p お近くの〈 いよぎん 〉の窓口
				.col.al.vc
					a(href="http://map.iyobank.co.jp/b/iyobank/")
						img(src="../images/support/img17.png",alt="店舗・ATMのご案内",title="店舗・ATMのご案内")
	h4.ac.mb20
		img(src="../images/support/img18.png",alt="返済についてのご相談",title="返済についてのご相談")
	.pl15.pr15.mb50
		.row--col2--layout_table--line(style="table-layout:fixed;")
			.row
				.col.ac.vc(style="width:38%")
					img(src="../images/support/img20.png",alt="")
				.col.al.vc
					p.ttl IYOCA DC の方
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 089-913-2510
					p.sub 受付時間：9：00 ～ 17：00（銀行休業日は除きます）
			.row
				.col.ac.vc
					img(src="../images/support/img23.png",alt="")
				.col.al.vc
					p.ttl IYOCA JCB の方
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 089-913-2515
					p.sub 受付時間：9：00 ～ 17：00（銀行休業日は除きます）
			.row
				.col.ac.vc
					img(src="../images/support/img25.png",alt="")
				.col.al.vc
					p.ttl IYOCA BC の方
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 089-913-2566
					p.sub 受付時間：9：00 ～ 17：00（銀行休業日は除きます）
	h4.ac.mb20
		img(src="../images/support/img19.png",alt="紛失・盗難にあわれたとき",title="紛失・盗難にあわれたとき")
	.pl15.pr15.mb50
		.row--col2--layout_table--line(style="table-layout:fixed;")
			.row
				.col.ac.vc(style="width:38%")
					img(src="../images/support/img20.png",alt="")
				.col.al.vc
					p.ttl IYOCA DC の方
					p.subttl 三菱UFJニコス株式会社<br>DCカード盗難紛失受付センター
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 0120-664-476
					p.sub.mb10 受付時間：24時間（365日）
					a(href="http://www.cr.mufg.jp/dc/contact/lost_ab/index.html").pbOpenNewWindow
						img(src="../images/support/img27.png", alt="海外で紛失・盗難にあわれた場合",title="海外で紛失・盗難にあわれた場合")
			.row
				.col.ac.vc
					img(src="../images/support/img23.png",alt="")
				.col.al.vc
					p.ttl IYOCA JCB の方
					p.subttl JCB紛失盗難受付デスク
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 0120-794-082
					p.sub 受付時間：24時間（365日）
			.row
				.col.ac.vc
					img(src="../images/support/img25.png",alt="")
				.col.al.vc
					p.ttl IYOCA BC の方
					p.subttl VJ紛失・盗難受付デスク
					span.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_tel.png`, alt="")
						| 0120-919-456
					p.sub.mb10 受付時間：24時間（365日）
					a(href="http://www3.vpass.ne.jp/mem/goriyo/kaigai_lost_list.jsp?cc=064").pbOpenNewWindow
						img(src="../images/support/img27.png", alt="海外で紛失・盗難にあわれた場合",title="海外で紛失・盗難にあわれた場合")
