@charset "UTF-8";
@mixin modules {
	.rollover-op:hover {
		filter: progid:DXImageTransfor.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}

	/* float
	------------------------------------- */
	.fr {
		float: right;
		display: inline;
		*zoom: 1;
	}
	.fl {
		float: left;
		display: inline;
		*zoom: 1;
	}
	.cl {
		clear: both;
	}

	/* margin
	------------------------------------- */
	.am {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.mt3 {
		margin-top: 3px !important;
	}
	@for $i from 0 through 10 {
	  .mt#{$i * 5} {
	    margin-top:#{$i * 5}px !important;
	  }
	}

	.mb3 {
		margin-bottom: 3px !important;
	}
	@for $i from 0 through 10 {
	  .mb#{$i * 5} {
	    margin-bottom:#{$i * 5}px !important;
	  }
	}
	.mb60 {
		margin-bottom: 60px !important;
	}
	.mb100 {
		margin-bottom: 100px !important;
	}

	.ml3 {
		margin-left: 3px !important;
	}
	@for $i from 0 through 10 {
	  .ml#{$i * 5} {
	    margin-left:#{$i * 5}px !important;
	  }
	}

	.mr3 {
		margin-right: 3px !important;
	}
	@for $i from 0 through 10 {
	  .mr#{$i * 5} {
	    margin-right:#{$i * 5}px !important;
	  }
	}

	/* padding
	------------------------------------- */
	// padding-left
	.pl3 {
		padding-left: 3px !important;
	}
	@for $i from 0 through 10 {
	  .pl#{$i * 5} {
	    padding-left:#{$i * 5}px !important;
	  }
	}

	// padding-right
	.pr3 {
		padding-right: 3px !important;
	}
	@for $i from 0 through 10 {
	  .pr#{$i * 5} {
	    padding-right:#{$i * 5}px !important;
	  }
	}

	// padding-top
	.pt3 {
		padding-top: 3px !important;
	}
	@for $i from 0 through 10 {
	  .pt#{$i * 5} {
	    padding-top:#{$i * 5}px !important;
	  }
	}

	// padding-bottom
	.pb3 {
		padding-bottom: 3px !important;
	}
	@for $i from 0 through 10 {
	  .pb#{$i * 5} {
	    padding-bottom:#{$i * 5}px !important;
	  }
	}


	/* font-size
	------------------------------------- */
	@for $i from 8 through 30 {
		.fs#{$i} {
			font-size:#{$i}px !important;
		}
	}
	.fs50 {
		font-size: 50px !important;
	}

	/* font-weight
	------------------------------------- */
	.bold {
		font-weight: 700;
	}
	.normal {
		font-weight: normal;
	}

	/* text-align
	------------------------------------- */
	.ac {
		text-align: center!important;
	}

	.al {
		text-align: left!important;
	}

	.ar {
		text-align: right!important;
	}

	.oh {
		overflow: hidden;
		position: relative;
		*zoom: 1;
	}
	.position_ab {
		position: absolute;
	}

	ul.fixindent {
		li {
			padding-left: 1em;
			text-indent: -1em;
		}
	}
	ul.fixindent--2 {
		li {
			padding-left: 2em;
			text-indent: -2em;
		}
	}
	.fineindent {
		padding-left: 1em;
		text-indent: -1em;
	}

	.fineindent3 {
		padding-left: 2.5em;
		text-indent: -2.5em;
	}

	.red {
		color:#AA2912;
	}

	.pink{
		color:#DF6471;
	}

	.db {
		display: block;
	}

	.noborder {
		border:none!important;
	}

	//テキストを非表示
	.text-indent-none {
		text-indent: 100%;
		white-space: nowrap;
		display: block;
		overflow: hidden;
	}

	/*clearfix*/
	.clearfix:after{
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0;
		visibility:hidden;
	}
	.clearfix {
		*zoom:1;
	}

	.sep20 {
		margin-top: 20px;
		margin-bottom: 20px;
		border-top: 1px dotted #666;
	}

	.sep10 {
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px dotted #666;
	}

	.icon_ext {
		margin-left: 5px;
		margin-right: 3px;
		vertical-align: -1px;
	}
}
@mixin clearfix{
	&:after{
		content:".";
		display: block;
		height:0px;
		clear:both;
		line-height:0;
		visibility:hidden;
	}

	@if $support-ie7 or $support-ie6 {
		*zoom:1;
	}
}

@mixin rolloverop {
	&:hover {
		filter: progid:DXImageTransfor.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
}
