@charset "UTF-8";
@import "compass";
@import "font";
@import "mixin_module";
@import "mixin_common";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

a img {
	@include opacity--anim(0.6);
}
.vc {
	vertical-align:middle;
	display: inline-block;
}
.vt {
	vertical-align:top;
}
.green {
	color:#009245;
}


#areaWrapper2 {
	font-family: 'Noto Sans Japanese', sans-serif;
}
/* **************************************************
Layout
************************************************** */
body {
	//font-family: NotoSansJP;
	color: #333;
	font-size: 14px; /* フォント置換による類似 */
	font-weight: 400;
	line-height: (22 / 14); /* フォント置換による類似 */
	text-align: left;
}
/*clearfix*/
.clearfix:after{
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0;
	visibility:hidden;
}
.clearfix {
	*zoom:1;
}
/* titl
----------------------- */
.ttl--back_green {
	color: #fff;
	font-size: 16.5px;
	font-weight: 700;
	line-height: (20 / 16.5); /* フォント置換による類似 */
	text-align: left;
	padding:14px 21px;
	background:#009245;
	@include border-radius(10px);
	margin-bottom: 33px;
}
.ttl--img {
	margin-bottom: 20px;
}
/* area
----------------------- */
.area {
	text-align: center;
}
.area--border-gray {
	@extend .area;
	border: 5px solid #E6E6E6;
	background:#E6E6E6;
	@include border-radius(10px);
}
.area--yellow {
	@extend .area;
	padding:16px 27px;
	background: #FCE121;
	border: 1px solid #009245;
	@include border-radius(10px);
}
.content_pad {
	width: 552px;
	margin:0 auto;
}
/* layout
----------------------- */
.flx_img_box {
	@extend .clearfix;
	.txt {
		overflow: hidden;
	}
}
.flx_img_box--left {
	@extend .flx_img_box;
	.img {
		float: left;
		margin-right: 24px;
	}
}
.flx_img_box--right {
	@extend .flx_img_box;
	.img {
		float: right;
		margin-left: 24px;
	}
}
.img_horizontal {
	& > * {
		display: inline-block;
		vertical-align: top;
	}
	& > * + * {
		margin-left: 10px;
	}
}
.img_horizontal--right {
	@extend .img_horizontal;
	text-align: right;
}
/* row
----------------------- */
.row--inline-block {
	text-align:center;
	font-size: 0;
	.col {
		display: inline-block;
	}
}
.row--col2 {
	.col {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.row--float {
	text-align:center;
	font-size: 0;
	.col {
		display: inline-block;
	}
}
.row--float.row--col2 {
	@extend .clearfix;
	.col {
		float: left;
	}
	.col + .col {
		float: right;
	}
}

.row--col2--layout_table {
	display: table;
	width: 100%;
	box-sizing: border-box;
	.col {
		display: table-cell;
		.ttl {
			font-size: 20px;
			line-height: 1;
			font-weight:700;
			margin-bottom: 5px;
		}
		.subttl {
			font-size: 17px;
			line-height: (22 / 17);
		}
		.sub {
			font-size: 14px;
			line-height: (19 / 14);
		}
	}
	.row {
		display:table-row;
	}
}

.row--col2--layout_table--line {
	@extend .row--col2--layout_table;
	border-bottom: dotted 1px #666;
	.col {
		padding-top: 18px;
		padding-bottom: 18px;
		border-top: dotted 1px #666;
	}
}

.hasicon {
	img {
		display: inline-block;
		margin-right: 9px;
	}
}
.hasicon--orange {
	@extend .hasicon;
	font-size: 32px;
	font-weight:bold;
	color:#F15A24;
}

.hasicon--orange--tel {
	img {
		vertical-align:-6px;
	}
}
/* table
----------------------- */
.base_table {
	width: 100%;
}

.base_table--layout {
	display:table;
	width: 100%;
	table-layout: fixed;
	.tr {
		display: table-row;
	}
	.td {
		display: table-cell;
		vertical-align: top;
	}
}
/* ===============================================
slide
=============================================== */
.slide {
	.bx-wrapper {
		border: none;
		box-shadow: none;
		margin: 0;
		width: 100%;

		.bx-pager {
			position: static;
			margin-top: 9px;
			padding-top: 0;
		}
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		background-color: #cdcdcd;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background-color: #666;
	}
	.bx-wrapper .bx-pager .bx-pager-item {
		vertical-align: top;
	}

	.bx-wrapper .bx-prev {
		@include text_indent_none();
		@include sprite_background_retina('arrow_prev');
		@include opacity(0.5);
		margin-top: -30px;
	}
	.bx-wrapper .bx-next {
		@include text_indent_none();
		@include sprite_background_retina('arrow_next');
		@include opacity(0.5);
		margin-top: -30px;
	}
}
.slide.onload {
	visibility: hidden;
	height: 165px;
	overflow: hidden;
}

/* ===============================================
top page
=============================================== */
.top_info_01 {
	margin-top: 17px;
	.row--inline-block,.row--float {
		margin-top: 12px;
	}
}


.contentCommonFooter {
	.hasicon--orange {
		font-size: 26px;
	}
	.area--border-gray-02 {
		border:none;
		background-color:#f2f2f2;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		h3 {
			img {
				margin-top: -20px;
			}
		}
		img {
			vertical-align: middle;
		}
	}
	.row--col2--layout_table--line .col {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.area--title_border {
	h3 {
		background: #f7931e;
		padding: 12px 20px;
		color: #fff;
		@include border-radius(10px 10px 0 0);
		font-size: 18px;
		line-height: (22 / 18);
	}
	h4 {
		font-size: 18px;
		line-height: (24 / 18);
		color: #f7931e;
	}

	.subttl {
		padding: 12px 25px;
		border-bottom: 1px dotted #666;
	}
	.cont {
		padding: 12px 25px;
	}
	.sub {
		font-size: 14px;
	}

	.inner {
		box-sizing: border-box;
		border:solid #cccccc 3px;
	}

	.inner + .inner {
		margin-top: -3px;
	}
}

.area--greenpoint_title {
	.ttl {
		font-size: 18px!important;
		font-weight: 700;
		margin-bottom: 5px;
		* {
			font-size: inherit!important;
		}
	}
	.txt {
		padding-left: 25px;
	}
	.txt + .ttl {
		margin-top: 20px;
	}
}

.table--stripe {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing:0;
	a {
		display: block;
	}
	td,th {
		text-align: center;
		vertical-align: middle;
		font-size: 24px;
		font-weight: bold;
		padding: 10px 10px;
		border-bottom: 1px solid #666;
		border-top: 1px solid #666;
	}
	thead th {
		font-size: 15px;
	}
	thead tr {
		th:first-child {
			width: 38%;
		}
	}
	tr {
		td:nth-child(even),
		th:nth-child(even){
			background: #F2F2F2;
		}
	}
}

.slider {
    height: 230px;
}
.slick_container {
    width: 360px;
    margin: 0 auto;
    position: relative;
}
.slick-slide {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.slick-slide img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.slick-active,
.slick-center,
.slick-current {
    filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
button.slick-next,
button.slick-prev {
    z-index: 99;
    width: 30px;
    height: 30px;
    background-position: 0 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
button.slick-next:focus,
button.slick-next:hover,
button.slick-prev:focus,
button.slick-prev:hover {
    background-position: 0 0;
}
button.slick-next:hover,
button.slick-prev:hover {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}
button.slick-prev {
    left: 50%;
    margin-left: -210px;
    background: url("http://www.iyobank.co.jp/sp/iyocastyle/img/slick-prev.png") left top no-repeat;
    filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    background-size: 100% auto;
}
button.slick-prev:focus,
button.slick-prev:hover {
    background: url("http://www.iyobank.co.jp/sp/iyocastyle/img/slick-prev.png") left top no-repeat;
}
button.slick-next {
    right: 50%;
    margin-right: -210px;
    background: url("http://www.iyobank.co.jp/sp/iyocastyle/img/slick-next.png") left top no-repeat;
    filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
	background-size: 100% auto;
}
button.slick-next:focus,
button.slick-next:hover {
    background: url("http://www.iyobank.co.jp/sp/iyocastyle/img/slick-next.png") left top no-repeat;
}
button.slick-next:before,
button.slick-prev:before {
    content: "";
}
.slick-dots {
	bottom:-3px;
}
.slick-dots li button:before {
	font-family: 'slick';
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '●';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-arrow {
    z-index: 10;
}
.slick-slide {
    height: auto;
}

.slick-dotted.slick-slider {
	margin-bottom: 10px;
}

/* **************************************************
Modules
************************************************** */
@include modules;
@import 'responsive'
