.pc {
	display: none;
}
.sp {
	display: block;
}
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}


.base_table--layout {
	display:block;
	width: 100%;
	.tr {
		display: block;
	}
	.td {
		display: block;
		text-align: center;
		img {
			width:50px;
			height: auto;
		}
	}
}
