extends ../layout.pug
block title
	-
		var title = 'IYOCAラインナップ'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCAラインナップ
	.mb20.pl15
		a(href="#con01")
			img(src="../images/lineup/img1.png", alt="一体型カードラインナップ",title="一体型カードラインナップ").mr3
		a(href="#con02")
			img(src="../images/lineup/img2.png", alt="単体型カードラインナップ",title="単体型カードラインナップ").ml3
	h3.ac.mb25#con01
		img(src="../images/lineup/img3.png",alt="「クレジットカード」 ＋「 キャッシュカード」一体型カード",title="「クレジットカード」 ＋「 キャッシュカード」一体型カード")
	p.ac.mb50
		img(src="../images/lineup/img4.png",alt="「クレジットカード」と「いよぎんキャッシュカード」を1枚にまとめて、お財布スッキリ！",title="「クレジットカード」と「いよぎんキャッシュカード」を1枚にまとめて、お財布スッキリ！")
	h4.ac.mb15
		img(src="../images/lineup/img5.png",alt="IYOCA DC【 一般・ゴールド】",title="IYOCA DC【 一般・ゴールド】")
	p.pl15.pr15.mb15 「Visa」もしくは「Mastercard」、いずれかのブランドをお選びいただけます。
	p.ac.mb20
		img(src="../images/lineup/img6.png",alt="IYOCA DC Visa IYOCA DC Mastercard",title="IYOCA DC Visa IYOCA DC Mastercard")
	p.ac.mb5
		a(href="/card_service_top/iyoca_new/iyoca/dc_gaiyou.html")
			img(src="../images/lineup/img7.png",alt="IYOCA DC 詳しくはこちら",title="IYOCA DC 詳しくはこちら")
	p.ac.mb50
		a(href="https://www.iyobank.co.jp/card_service_top/iyoca_top/moushikomi.html")
			img(src="../images/lineup/img8.png",alt="今すぐ申し込む",title="今すぐ申し込む").pbOpenNewWindow
	h4.ac.mb15
		img(src="../images/lineup/img9.png",alt="IYOCA BC【 一般・ゴールド】",title="IYOCA BC【 一般・ゴールド】")
	p.ac.mb15
		img(src="../images/lineup/img10.png",alt="")
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca/bc_card_holder/bc_gaiyou.html")
			img(src="../images/lineup/img11.png",alt="IYOCA BC 詳しくはこちら",title="IYOCA BC 詳しくはこちら")
	h3.ac.mb25#con02
		img(src="../images/lineup/img12.png",alt="「クレジットカード」単体型カード",title="「クレジットカード」単体型カード")
	p.ac.mb50
		img(src="../images/lineup/img13.png",alt="「クレジットカード」と「いよぎんキャッシュカード」を別々に持ちたい方に！",title="「クレジットカード」と「いよぎんキャッシュカード」を別々に持ちたい方に！")
	h4.ac.mb15
		img(src="../images/lineup/img14.png",alt="IYOCA DC【 一般・ゴールド】",title="IYOCA DC【 一般・ゴールド】　＜単体型＞")
	p.pl15.pr15.mb15 「Visa」もしくは「Mastercard」、いずれかのブランドをお選びいただけます。
	p.ac.mb20
		img(src="../images/lineup/img15.png",alt="IYOCA DC Visa IYOCA DC Mastercard",title="IYOCA DC Visa IYOCA DC Mastercard")
	p.ac.mb5
		a(href="/card_service_top/iyoca_new/iyoca/dc_gaiyou.html")
			img(src="../images/lineup/img16.png",alt="IYOCA DC 詳しくはこちら",title="IYOCA DC 詳しくはこちら")
	p.ac.mb50
		a(href="https://www.iyobank.co.jp/card_service_top/iyoca_top/moushikomi.html")
			img(src="../images/lineup/img8.png",alt="今すぐ申し込む",title="今すぐ申し込む").pbOpenNewWindow
	h4.ac.mb15
		img(src="../images/lineup/img17.png",alt="IYOCA JCB【 一般・ゴールド】",title="IYOCA JCB【 一般・ゴールド】")
	p.pl15.pr15.mb15 キャッシング機能と保険が充実したおトクなカードです。
	p.ac.mb20
		img(src="../images/lineup/img18.png",alt="IYOCA JCB【 一般・ゴールド】",title="IYOCA JCB【 一般・ゴールド】")
	p.ac.mb5
		a(href="/card_service_top/iyoca_new/iyoca/jcb_gaiyou.html")
			img(src="../images/lineup/img19.png",alt="IYOCA JCB 詳しくはこちら",title="IYOCA JCB 詳しくはこちら")
	p.ac.mb50
		a(href="https://www.iyobank.co.jp/card_service_top/iyoca_top/moushikomi.html ")
			img(src="../images/lineup/img8.png",alt="今すぐ申し込む",title="今すぐ申し込む").pbOpenNewWindow
	h4.ac.mb15
		img(src="../images/lineup/img20.png",alt="IYOCA JCB EXTAGE",title="IYOCA JCB EXTAGE")
	p.pl15.pr15.mb15 18歳〜29歳の方限定！！初めて持つ１枚に！
	p.ac.mb15
		img(src="../images/lineup/img21.png",alt="IYOCA JCB EXTAGE",title="IYOCA JCB EXTAGE")
	p.ac.mb5
		a(href="/card_service_top/iyoca_new/iyoca/jcb_gaiyou.html")
			img(src="../images/lineup/img22.png",alt="IYOCA JCB EXTAGE 詳しくはこちら",title="IYOCA JCB EXTAGE 詳しくはこちら")
	p.ac.mb50
		a(href="https://www.iyobank.co.jp/card_service_top/iyoca_top/moushikomi.html")
			img(src="../images/lineup/img8.png",alt="今すぐ申し込む",title="今すぐ申し込む").pbOpenNewWindow
	h4.ac.mb15
		img(src="../images/lineup/img23.png",alt="IYOCA BC【 一般・ゴールド】　＜単体型＞",title="IYOCA BC【 一般・ゴールド】　＜単体型＞")
	p.ac.mb15
		img(src="../images/lineup/img24.png",alt="IYOCA BC【 一般・ゴールド】　＜単体型＞",title="IYOCA BC【 一般・ゴールド】　＜単体型＞")
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca/bc_card_holder/bc_gaiyou.html")
			img(src="../images/lineup/img25.png",alt="IYOCA BC 詳しくはこちら",title="IYOCA BC 詳しくはこちら")

