#footerArea.pbFooterArea
	#area4.pbArea.pbAreaDisabled
		.pbNested
			#pbBlock679730.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					div
						a(href='#header_top')
							img(alt='トップへ', src='http://www.iyobank.co.jp/library/new/smart/test/sp_main_under.png', width='100%', style='border-bottom: 0px solid; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid')
			#pbBlock679729.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					div
						a(href='http://www.iyobank.co.jp/top.html')
							img(width='100%', alt='PC版トップページへ', src='http://www.iyobank.co.jp/library/new/smart/test/sp_main_PCtop.png', style='border-width: 0px; border-style: solid; border-color: -moz-use-text-color;')
			#pbBlock679728.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					.iygSpFooterCopyright
						| Copyright © THE IYO BANK Ltd. All Rights Reserved.
						script(src='http://www.iyobank.co.jp/library/urchin/urchin.js', type='text/javascript')
						script(type='text/javascript').
							//<![CDATA[
							if (typeof(urchinTrackerExecuted) == "undefined") {
							urchinTracker();
							//GA
							(function(i, s, o, g, r, a, m) {
							i['GoogleAnalyticsObject'] = r;
							i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
							}, i[r].l = 1 * new Date();
							a = s.createElement(o),
							m = s.getElementsByTagName(o)[0];
							a.async = 1;
							a.src = g;
							m.parentNode.insertBefore(a, m)
							})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
							ga('create', 'UA-54296136-1', 'auto');
							ga('send', 'pageview');
							}
							//]]>
						script(type='text/javascript').
							//<![CDATA[
							if (typeof(RtoasterInitialized) != "undefined") {
							Rtoaster.recommendNow("rtTopMain", "rtTopMiddle_rirekirec", "rtTopMiddle_rireki", "rtKariruTop", "rtDirectLogin", "rtEbLogin", "rtMapTop", "rtCommisionTrans", "rtTopMainSP", "rtDirectLoginSP");
							}
							//]]>
			#pbBlock733452.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					div
						script(type='text/javascript').
							//<![CDATA[
							(function() {
							var da = document.createElement('script');
							da.type = 'text/javascript';
							da.async = true;
							if ('https:' == document.location.protocol) {
							da.src = 'https://rsv.dga.jp/s/iyobank/search_tool_n2.js';
							} else {
							da.src = 'http://cache.dga.jp/s/iyobank/search_tool_n2.js';
							}
							var sc = document.getElementsByTagName('script')[0];
							sc.parentNode.insertBefore(da, sc);
							})();
							//]]>
ul#i_search_autocomplete.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all(tabindex='0', style='display: none;')
