<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
head
	include _inc_head
body
	noscript <p>このページではjavascriptを使用しています。</p>
	#page.pbPage
		#headerArea.pbHeaderArea
			#area1.pbArea.pbAreaDisabled
				.pbNested
					#pbBlock679707.pbNested.pbNestedWrapper
						.pbNested.pbNestedHorizontalWrapper
							#pbBlock679708.pbHorizontalNested(style='overflow:hidden;clear:none;')
								#pbNestDiv679708(style='margin:0;padding:0;border-width:0;line-height:normal;text-indent:0;')
									.pbBlock.pbBlockBase
										.style3384
											a(href='http://www.iyobank.co.jp/smp.html')
												img(src='http://www.iyobank.co.jp/library/new/smart/img/logo_sp.png', alt='伊予銀行　スマートフォントップへ', style='border-width: 0px; border-style: solid; width: 140px;')
							#pbBlock733450.pbHorizontalNested(style='overflow:hidden;clear:none;')
								#pbNestDiv733450(style='margin:0;padding:0;border-width:0;line-height:normal;text-indent:0;')
									.pbBlock.pbBlockBase
										div
											#btn_search(style='text-align: right;')
												img(style='width: 45px;', alt='検索', src='http://www.iyobank.co.jp/library/new/smart/img/btn_search.png')
							#pbBlock679709.pbHorizontalNested(style='overflow:hidden;clear:none;')
								#pbNestDiv679709(style='margin:0;padding:0;border-width:0;line-height:normal;text-indent:0;')
									.pbBlock.pbBlockBase
										div
											a#header_top(name='header_top')
											a(href='http://map.iyobank.co.jp/b/iyobank_s/')
												img(src='http://www.iyobank.co.jp/library/new/smart/img/btn_tenposearch.png', alt='店舗ATM検索', style='border-width: 0px; border-style: solid; width: 45px;')
							#pbBlock679710.pbHorizontalNested(style='overflow:hidden;clear:none;')
								#pbNestDiv679710(style='margin:0;padding:0;border-width:0;line-height:normal;text-indent:0;')
									.pbBlock.pbBlockBase
										div
											// ヘッダー
											#hamburgerbox
												ul
													li#btn_menu.btn_menu_open メニュー
											// /ヘッダー
					#pbBlock733451.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								// ▼▼▼ 検索窓 ▼▼▼
								#grayBox
									#serch(style='display: none;')
										#serch_inn
											form#search_form(name='search_form', action='http://sitesearch.iyobank.co.jp/', method='get', onsubmit='return mysearch(this);')
												span.ui-helper-hidden-accessible(role='status', aria-live='polite')
												input#serch_text.searchBox.ui-autocomplete-input(type='text', name='kw', value='', autocomplete='off')
												input(type='hidden', name='ie', value='u')
												input(type='hidden', name='temp', value='smp')
												input#search_submit(type='image', value='検索', src='http://www.iyobank.co.jp/library/site_search/icon_search.png')
								// ▲▲▲ 検索窓 ▲▲▲
					#pbBlock679712.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								// メニュー
								#menu(style='display: none;')
									ul
										li
											a#btn_menu_sub_1.btn_menu_sub(name='btn_menu_sub_1', href='javascript:void(0);', style='background-image: url(http://www.iyobank.co.jp/library/new/smart/img/bg_menu_arw_1_open.png);') 個人のお客さま
											ul#menu_sub_1.menu_sub(style='display: none;')
												li
													a(href='http://www.iyobank.co.jp/smp/tameru.html')
														| ためる・ふやす
														br
														span 定期預金・投資信託など
												li
													a(href='http://www.iyobank.co.jp/smp/kariru.html')
														| かりる
														br
														span 住宅ローン、マイカーローン、カードローンなど
												li
													a(href='http://www.iyobank.co.jp/smp/sonaeru.html')
														| そなえる
														br
														span 保険・貸金庫など
												li
													a(href='http://www.iyobank.co.jp/smp/cardservice.html')
														| カード・サービス
														br
														span インターネットバンキング・クレジットカードなど
												li
													a(href='http://www.iyobank.co.jp/smp/new_account.html')
														| 口座開設のご案内
														br
														span お手続き・必要書類など
												li
													a(href='http://www.iyobank.co.jp/smp/inetsiten.html')
														| インターネット支店
														br
														span 来店不要でらくらく便利！
												li
													a(href='http://www.iyobank.co.jp/smp/lifeevent.html')
														| ライフイベントにあわせたご提案
														br
														span 就職・結婚・子育てなど
										li
											a(href='http://www.iyobank.co.jp/corpration.html') 法人・個人事業主のお客さま
										li
											a(href='http://www.iyobank.co.jp/about_iyo.html') 伊予銀行について
										li
											a(href='http://www.iyobank.co.jp/ir.html') 株主・投資家の皆さま
										li
											a(href='http://www.iyobank.co.jp/recr.html') 採用情報
										li
											a#btn_menu_2(name='btn_menu_2', href='javascript:void(0);') メニューを閉じる
								// /メニュー
		#areaWrapper1.pbAreaWrapper1
			block main_content
		include _inc_footer
</html>
