#headerArea.pbHeaderArea
	#area1.pbArea.pbAreaDisabled
		.pbNested
			#pbBlock584662.pbNested.pbNestedWrapper
				.pbNested.pbNestedHorizontalWrapper.iygInitialHeader
					#pbBlock584663.pbHorizontalNested(style='overflow:hidden;clear:right;')
						.pbNested.iygBgcolorWhite
							#pbBlock756079.pbNested.pbNestedWrapper
								.pbNested.iygHeadWrrapper
									#pbBlock756080.pbNested.pbNestedWrapper
										.pbNested.pbNestedHorizontalWrapper
											#pbBlock756081.pbHorizontalNested(style='overflow:hidden;clear:right;')
												.pbBlock.pbBlockBase
													div
														h1
															a(href='http://www.iyobank.co.jp/top.html')
																img(src='http://www.iyobank.co.jp/library/newTop/img/header/logo.png', alt='伊予銀行　金融機関コード：0174', style='border-width: 0px; border-style: solid;')
														script(type='text/javascript', language='javascript', src='http://www.iyobank.co.jp/library/newTop/js/ft3.js')
														script(type='text/javascript', language='javascript', src='http://www.iyobank.co.jp/library/newTop/js/ft4.js')
														script(type='text/javascript').
															//<![CDATA[
															Event.observe(window, "load", getCookieFt3, false);
															Event.observe(window, "load", getCookieFt4, false);
															//]]>
														script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/doui.js')
														script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/css_browser_selector.js')
														script(language='javascript', type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/jquery-1.6.2.min.js')
														script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/jquery-ui-1.8.16.custom.min.js')
														script(language='javascript', type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/opacity-rollover2.1.js')
														script(type='text/javascript').
															//<![CDATA[
															jQuery.noConflict();
															jQuery(document).ready(function($) {});
															//]]>
															//]]>
														script(type='text/javascript').
															//<![CDATA[
															<!--
															(function($) {
															$(function() {
															$('.over50').opOver();
															});
															})(jQuery);
															//-->
															//]]>
											#pbBlock756082.pbHorizontalNested(style='overflow:hidden;clear:right;')
												.pbBlock.pbBlockBase
													div
														form#form_search_14153.search_form.clearfix(onsubmit='return mysearch(this);', method='get', action='http://sitesearch.iyobank.co.jp/', name='search_form')
															.search_box
																label(for='pbSearchInputForm_14153')
																	input(type='image', alt='検索', src='http://www.iyobank.co.jp/library/site_search/icon_search.png', value='')
																input#pbSearchInputForm_14153.searchBox.pbInputForm.ui-autocomplete-input(type='text', onblur='sText(this)', onfocus='cText(this)', maxlength='100', size='18', gtbfieldid='8', value='', name='kw', autocomplete='off', role='textbox', aria-autocomplete='list', aria-haspopup='true')
																input(type='hidden', value='u', name='ie')
											#pbBlock756083.pbHorizontalNested(style='overflow:hidden;clear:right;')
												.pbBlock.pbBlockBase
													div
														.txt_size_box
															div
																a(href='javascript:textSizeUp();')
																	img#fontSizeBtnL(style='border: 0px solid;', alt='大', src='http://www.iyobank.co.jp/library/newTop/img/header/btn_txt_l.gif')
															div
																a(href='javascript:textSizeDefault();')
																	img#fontSizeBtnM(style='border: 0px solid;', alt='中', src='http://www.iyobank.co.jp/library/newTop/img/header/btn_txt_m_on.gif')
															div
																a(href='javascript:textSizeDown();')
																	img#fontSizeBtnS(style='border: 0px solid;', alt='小', src='http://www.iyobank.co.jp/library/newTop/img/header/btn_txt_s.gif')
															.ttl_fontsize 文字サイズ
									#pbBlock756084.pbNested.pbNestedWrapper
										.pbBlock.pbBlockBase
											.style3247-3624
												div(style='text-align: right;')
													a(href='http://faq-iyobank.custhelp.com/app/home')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| よくあるご質問
													|  ｜
													a(href='http://www.iyobank.co.jp/otoiawase_ichiran.html')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| お問い合わせ先
													|  ｜
													a(href='http://www.iyobank.co.jp/iyshki23.html')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| 手数料一覧
													|  ｜
													a(href='http://www.iyobank.co.jp/personal04.html')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| 金利一覧
													|  ｜
													a(href='http://www.iyobank.co.jp/site_map.html')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| サイトマップ
													|  ｜
													a(href='http://www.iyobank.co.jp/english.html')
														img(src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif')
														| English
							#pbBlock584672.pbNested.pbNestedWrapper
								.pbBlock.pbBlockBase
									div
										.gmenuAA
											ul.grobalmenu
												li.kojin.current
													a(href='http://www.iyobank.co.jp/top.html') 個人のお客さま
												li.houjin
													a(href='http://www.iyobank.co.jp/corpration.html') 法人・個人事業主のお客さま
												li.kabu
													a(href='http://www.iyobank.co.jp/ir.html') 株主・投資家の皆さま
												li.iyg
													a(href='http://www.iyobank.co.jp/about_iyo.html') 伊予銀行について
												li.saiyo
													a(href='http://www.iyobank.co.jp/recr.html') 採用情報
							#pbBlock584664.pbNested.pbNestedWrapper
								.pbBlock.pbBlockNavigation.iygNaviBlock
									a(href='http://www.iyobank.co.jp/top.html') トップ
									|  >
									a(href='http://www.iyobank.co.jp/card_service_top.html') カード・サービス
									|  > IYOCA
					#pbBlock584670.pbHorizontalNested(style='overflow:hidden;clear:right;')
						.pbNested
