#leftArea.pbLeftArea
	#area2.pbArea.pbAreaDisabled
		.pbNested
			#pbBlock648745.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					.iygNB-new
						#IB
							h2 インターネットバンキング
							dl
								dt.iyg_kojin_ttl
									a.current(href='#') 個人のお客様
								dd.iyg_kojin_new
									ul
										li.btn01
											a.pbOpenNewWindow(href='http://www.iyobank.co.jp/direct_new.html') いよぎんダイレクトログイン
										li.btn02
											a(href='http://www.iyobank.co.jp/card_service_top/moushikomi.html') 新規のお申し込み
										li.btn03
											a.pbOpenNewWindow(href='http://www.iyobank.co.jp/inetsiten.html') いよぎんインターネット支店
										li.btn04
											a(href='http://www.iyobank.co.jp/card_service_top/kani_direct.html') キャッシュカードをお持ちの方　残高照会・明細照会
								dt.iyg_houjin_ttl
									a(href='#') 法人のお客様
								dd.iyg_houjin_new(style='display: none;')
									ul
										li.btn01
											a.pbOpenNewWindow(href='http://www.iyobank.co.jp/ieb.html') いよぎんインターネットEB
										li.btn02
											a.pbOpenNewWindow(href='http://www.iyobank.co.jp/gaitame.html') いよぎん外為インターネットサービス
						script(type='text/javascript').
							//<![CDATA[
							jQuery(function() {
							jQuery("#IB dl dt a").click(function() {
							var num = jQuery("#IB dl dt a").index(this);
							jQuery("#IB dl dd").hide();
							jQuery("#IB dl dd").eq(num).fadeIn("fast");
							if(readCookie == '1') {
							setCookie('loginFlg','2');
							}else{
							setCookie('loginFlg','1');
							}
							jQuery("#IB dl dt a").removeClass('current');
							jQuery("#IB dl dt a").eq(num).addClass('current');
							});
							});
							var readCookie = '';
							readCookie = getCookie('loginFlg');
							if(readCookie == '' || readCookie == '1') {
							jQuery("#IB dl dd.iyg_houjin_new").hide();
							jQuery("#IB dl dt.iyg_kojin_ttl a").addClass('current');
							setCookie('loginFlg','1');
							} else {
							jQuery("#IB dl dd.iyg_kojin_new").hide();
							jQuery("#IB dl dt.iyg_houjin_ttl a").addClass('current');
							setCookie('loginFlg','2');
							}
							function getCookie(theName) {
							theName += "=";
							theCookie = document.cookie+";";
							start = theCookie.indexOf(theName);
							if (start != -1) {
							end = theCookie.indexOf(";",start);
							return unescape(theCookie.substring(start+theName.length,end));
							}
							return false;
							}
							function setCookie(theName,theValue) {
							if ((theName != null) && (theValue != null)) {
							expDay = new Date();
							expDay.setTime(expDay.getTime()+(1000*60*60*24));
							expDay = expDay.toGMTString();
							document.cookie = theName + "="+escape(theValue)+";expires="+expDay;
							return true;
							}
							return false;
							}
							//]]>
			#pbBlock837115.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					.iygMarginTop15px
						script(type='text/javascript', src='http://faq-iyobank.widget.custhelp.com/euf/rightnow/RightNow.Client.js')
						script(type='text/javascript').
							//<![CDATA[
							RightNow.Client.Controller.addComponent(
							{
							description: false,
							div_id: "myDiv2",
							search_box: true,
							number_answers: 5,
							instance_id: "skw_1",
							module: "KnowledgeSyndication",
							c:"21,22",
							navigation:"false",
							type: 3
							},
							"//faq-iyobank.widget.custhelp.com/ci/ws/get"
							);
							//]]>
						div(style='width: 215px; border: 2.8px solid; color: #337a5a; font-size: 150%; text-align: center; border-radius: 5px;')
							div(style='vertical-align: -25%;')
								span(style='vertical-align: middle;')
									img(width='24', height='24', style='border-width: 0px; border-style: solid; vertical-align: middle;', alt='FAQ', src='http://www.iyobank.co.jp/library/new/left/faq1.png')
									strong(style='color: black; vertical-align: middle;') よくあるご質問
							#myDiv2(style='text-align: left;')
								.KnowledgeSyndication
									.rn_SearchArea
										#rn_SearchBoxskw_1.rn_SearchBox
											.rn_screen_reader_only
												label(for='rn_Queryskw_1') 検索
											input#rn_Queryskw_1.rn_Query(type='text', autocomplete='on', name='q')
										.rn_SearchButton
											input#rn_SearchButtonskw_1.rn_ButtonInput(type='button', value='検索', name='rn_ButtonInput')
									#rn_Correctionsskw_1.rn_Corrections.rn_Hide
										h3 もしかして:
										span#rn_WordCorrectionskw_1.rn_WordCorrection
									#rn_Suggestionsskw_1.rn_Suggestions.rn_Hide
										h3 提案されたその他の検索:
										span#rn_SearchSuggestionskw_1.rn_SearchSuggestion
									#rn_Documentsskw_1.rn_Documents.rn_Hide
										h3 推奨されるドキュメント
										ul#rn_DocumentListskw_1.rn_List
									#rn_Contentskw_1.rn_Content
										ul#rn_ContentListskw_1.rn_List
											li.rn_Item
												span.rn_Title
													a.rn_Link(data-link='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4222', target='_self', href='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4222') IYOCAで一般カードの年会費が無料となる条件は？
												br
											li.rn_Item
												span.rn_Title
													a.rn_Link(data-link='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4226', target='_self', href='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4226') IYOCAのクレジットカードポイントを確認したい。（商品に交換したい）
												br
											li.rn_Item
												span.rn_Title
													a.rn_Link(data-link='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4221', target='_self', href='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4221') IYOCAの年会費はいくらか？
												br
											li.rn_Item
												span.rn_Title
													a.rn_Link(data-link='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4232', target='_self', href='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4232') IYOCAで１０日（引き落とし日）に入金を忘れていた。次はいつ引き落としになるか？
												br
											li.rn_Item
												span.rn_Title
													a.rn_Link(data-link='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4217', target='_self', href='http://faq-iyobank.custhelp.com/app/answers/detail/a_id/4217') IYOCAの「締日」と「引き落とし日」は？
												br
									#rn_Navigationskw_1.rn_Navigation.rn_Hide
										a(href='http://faq-iyobank.custhelp.com/app/home/c/21,22', alt='', target='_self') 追加結果
			#pbBlock648724.pbNested.pbNestedWrapper
				.pbNested.iygMarginTop15px
					#pbBlock648725.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.height-36
								.menu1
									a(href='http://www.iyobank.co.jp/tameru_fuyasu_top.html')
										img(style='border-width: 0px; border-style: solid;', alt='ためる・ふやす', src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/2016_menu1_tameru02_gry.gif')
					#pbBlock648726.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								.menu1
									a(href='http://www.iyobank.co.jp/kariru_top.html')
										img(style='border-width: 0px; border-style: solid;', alt='かりる', src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/2016_menu1_kariru02_gry.gif')
					#pbBlock648727.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								.menu1
									a(href='http://www.iyobank.co.jp/sonaeru_top.html')
										img(style='border-width: 0px; border-style: solid;', alt='そなえる', src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/2016_menu1_sonaeru02_gry.gif')
			#pbBlock656422.pbNested.pbNestedWrapper
				.pbNested.style3273
					#pbBlock656423.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								.menu1
									a(href='http://www.iyobank.co.jp/card_service_top.html')
										img(style='border-width: 0px; border-style: solid;', alt='カード・サービス', src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/2016_menu1_card_service_grn.gif')
					#pbBlock656424.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maruon-3276
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca.html') IYOCA
					#pbBlock656443.pbNested.pbNestedWrapper
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_merit.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_merit.html') DCカード（メリット）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_merit.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_merit.html') JCBカード（メリット）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_gold_merit.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_gold_merit.html') DCゴールドカード（メリット）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_gold_merit.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_gold_merit.html') JCBゴールドカード（メリット）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_extage_merit.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/jcb_extage_merit.html') EXTAGEカード（メリット）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/lineup_ippan.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/lineup_ippan.html') 比較＆ラインナップ（一般）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_card_holder.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/dc_card_holder.html') カードをお持ちの方（DC）
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_shoping.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_shoping.html') ショッピングの支払方法
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_cashing_service.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_cashing_service.html') キャッシングサービス
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_point_tamekata.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_point_tamekata.html') ポイントのうまい貯め方
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_denshi-etc.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_denshi-etc.html') 電子マネー・ETCカード
						.pbBlock.pbBlockMenu.iygSubNavi01
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_web.html')
									img(style='border-width:0;', src='http://www.iyobank.co.jp/library/new/left/infomenu_icon01.gif', alt='')
							span
								a(href='http://www.iyobank.co.jp/card_service_top/iyoca/iyoca_web.html') Webで確認
					#pbBlock656437.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/moushikomi.html') いよぎんダイレクト
					#pbBlock656438.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/kani_direct.html') 簡易版いよぎんダイレクト
					#pbBlock656440.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/iyshki25.html') コンビニATMサービス
					#pbBlock656426.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/telephone07.html') キャッシュカードをお持ちの方へのテレホンサービス
					#pbBlock656425.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/pointservice.html') いよぎんポイントサービス
					#pbBlock656427.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/iyshki13.html') 外貨現金のご両替
					#pbBlock656430.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygMenu2Maru
								a(href='http://www.iyobank.co.jp/card_service_top/kokusai_01.html') 外国送金
			#pbBlock648718.pbNested.pbNestedWrapper
				.pbNested.iygMarginTop15px
					#pbBlock648719.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygCampBnr
								.menu1
									a(href='http://www.iyobank.co.jp/campaign_top.html')
										img.over50(src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/menu1_can.gif', alt='キャンペーン一覧', style='border-width: 0px; border-style: solid; opacity: 1;')
			#pbBlock648720.pbNested.pbNestedWrapper
				.pbNested.iygSubInfomenu
					#pbBlock648723.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.ist-category-bun-3244
								ul(style='margin-left: 5px;')
									li.iygSubMenu1
										a(href='http://www.iyobank.co.jp/iyshki23.html') 手数料一覧
									li.iygSubMenu1
										a(href='http://www.iyobank.co.jp/personal04.html') 金利・外国為替・マーケット
									li.iygSubMenu1
										a(href='http://www.iyobank.co.jp/net_possible.html') シミュレーション・各種申込
									li.iygSubMenu1
										a(href='http://www.iyobank.co.jp/card_service_top/shiryo_seikyu.html') 資料請求
									li.iygSubMenu1
										a(href='http://www.iyobank.co.jp/ten/tenpo_kyujitsu.html') 休日営業店舗
					#pbBlock648721.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								div(style='height: 40px; margin: 16px 0px')
									a.pbOpenNewWindow(href='http://map.iyobank.co.jp/b/iyobank/')
										img.over50(alt='店舗・ATMのご案内', src='http://www.iyobank.co.jp/library/newTop/cnt_common/img/left_area/tenpo_atm2.gif', style='border-width: 0px; border-style: solid; border-color: initial; opacity: 1;')
					#pbBlock648722.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.iygInfoMenu
								.iygSubMenu1(style='margin-left: 4px;') お困りの方へ
								ul
									li
										a(href='http://www.iyobank.co.jp/otoiawase_ichiran.html') お問い合わせ先
									li
										a(href='http://faq-iyobank.custhelp.com/app/home') よくあるご質問
#rightArea.pbRightArea
	#area3.pbArea.pbAreaDisabled
		.pbNested
			#pbBlock584528.pbNested.pbNestedWrapper
				.pbBlock.pbBlockBase
					.sideBnrCont
						a(href='http://www.iyobank.co.jp/kanketsu.html')
							img.over50(style='border: 0px solid; opacity: 1;', alt='Web完結申込サービス', src='http://www.iyobank.co.jp/library/newTop/img/bnr_web_kanketsu_2604.png')
