#footerArea.pbFooterArea
	#area4.pbArea.pbAreaDisabled
		.pbNested
			#pbBlock758200.pbNested.pbNestedWrapper
				.pbNested.iygFooterAreaWidthGrLine
					#pbBlock758201.pbNested.pbNestedWrapper
						.pbNested.pbNestedHorizontalWrapper.iygFooterLogoSns
							#pbBlock758202.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbBlock.pbBlockBase
									div
										div(style='padding-top: 5px;')
											a(href='http://www.iyobank.co.jp/top.html')
												img(style='border-width: 0px; border-style: solid; border-color: -moz-use-text-color;', alt='伊予銀行', src='http://www.iyobank.co.jp/library/new/footer/rogo.gif')
							#pbBlock758204.pbHorizontalNested(style='overflow:hidden;clear:right;')
								#pbNestDiv758204(style='margin:0;padding:0;border-width:0;line-height:normal;text-indent:0;')
									.pbBlock.pbBlockBase
										.iybmarginR10
											div(style='text-align: right;')
												a.pbOpenNewWindow(href='http://www.iyobank.co.jp/external/ext-facebook.html')
													img(src='http://www.iyobank.co.jp/library/new/footer/icon_facebook40.png', alt='Facebook', style='border-width: 0px; border-style: solid; margin-right: 10px;', data-popupalt-original-title='null', title='Facebook')
												a.pbOpenNewWindow(href='http://www.iyobank.co.jp/external/ext-line-tomodachi.html')
													img(title='LINE', data-popupalt-original-title='null', src='http://www.iyobank.co.jp/library/new/footer/icon_line40.png', alt='LINE', style='border-width: 0px; border-style: solid; margin-right: 10px;')
												a.pbOpenNewWindow(href='http://www.iyobank.co.jp/external/ext-youtube.html')
													img(title='YouTube', data-popupalt-original-title='null', style='border-width: 0px; border-style: solid; margin-right: 10px;', alt='YouTube', src='http://www.iyobank.co.jp/library/new/footer/icon_youtube40.png')
							#pbBlock758205.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbNested.iybmarginT8
									#pbBlock758211.pbNested.pbNestedWrapper
										.pbBlock.pbBlockBase
											div
												form#form_search_14153.search_form.clearfix(onsubmit='return mysearch(this);', method='get', action='http://sitesearch.iyobank.co.jp/', name='search_form')
													.search_box
														label(for='pbSearchInputForm_14153')
															input(type='image', alt='検索', src='http://www.iyobank.co.jp/library/site_search/icon_search.png', value='')
														input#pbSearchInputForm_14153.searchBox.pbInputForm.ui-autocomplete-input(type='text', onblur='sText(this)', onfocus='cText(this)', maxlength='100', size='18', gtbfieldid='8', value='', name='kw', autocomplete='off', role='textbox', aria-autocomplete='list', aria-haspopup='true')
														input(type='hidden', value='u', name='ie')
			#pbBlock20984.pbNested.pbNestedWrapper
				.pbNested.iygFooterAreaWidth
					#pbBlock20996.pbNested.pbNestedWrapper
						.pbNested.pbNestedHorizontalWrapper.iygSubMenuA
							#pbBlock20997.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbBlock.pbBlockBase
									.iygSubMenu
										div(style='line-height: 2em;')
											big
												strong 伊予銀行
										ul
											li
												a(href='http://www.iyobank.co.jp/corpration.html') 法人・個人事業主のお客さま
											li
												a(href='http://www.iyobank.co.jp/ir.html') 株主・投資家の皆さま
											li
												a(href='http://www.iyobank.co.jp/about_iyo.html') 伊予銀行について
											li
												a(href='http://www.iyobank.co.jp/recr.html') 採用情報
							#pbBlock21005.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbBlock.pbBlockBase
									.iygSubMenu
										div(style='line-height: 2em;')
											big
												strong 商品・サービス
										ul
											li
												a(href='http://www.iyobank.co.jp/tameru_fuyasu_top.html') ためる・ふやす
											li
												a(href='http://www.iyobank.co.jp/kariru_top.html') かりる
											li
												a(href='http://www.iyobank.co.jp/sonaeru_top.html') そなえる
											li
												a(href='http://www.iyobank.co.jp/card_service_top.html') カード・サービス
							#pbBlock21006.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbBlock.pbBlockBase
									.iygSubMenu
										div(style='line-height: 2em;')
											big
												strong サポート
										ul
											li
												a.gaibu_link(href='http://map.iyobank.co.jp/b/iyobank/', target='_blank') 店舗・ATM
											li
												a(href='http://www.iyobank.co.jp/personal04.html') 金利・外国為替相場
											li
												a(href='http://www.iyobank.co.jp/iyshki23.html') 手数料一覧
											li
												a(href='http://faq-iyobank.custhelp.com/app/home') よくある質問
											li
												a(href='http://www.iyobank.co.jp/new_account.html') 新規口座開設
											li
												a(href='http://www.iyobank.co.jp/otoiawase_ichiran.html') お問い合わせ先一覧
											li
												a(href='http://www.iyobank.co.jp/net_possible.html#mousikomi') ネットで簡単申込
							#pbBlock21007.pbHorizontalNested(style='overflow:hidden;clear:right;')
								.pbBlock.pbBlockBase
									.iygSubMenu
										div(style='line-height: 2em;')
											big
												strong ライフイベント
										ul
											li
												a(href='http://www.iyobank.co.jp/life_event/employment.html') 就職
											li
												a(href='http://www.iyobank.co.jp/life_event/marriage.html') 結婚
											li
												a(href='http://www.iyobank.co.jp/life_event/child_rearing.html') 子育て
											li
												a(href='http://www.iyobank.co.jp/life_event/home.html') 住宅
											li
												a(href='http://www.iyobank.co.jp/life_event/second_life.html') セカンドライフ
					#pbBlock21100.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								.greenline(style='HEIGHT: 3px')
									img(style='BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid', src='http://www.iyobank.co.jp/library/new/footer/greenline.gif')
					#pbBlock21101.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.picupmenu
								ul
									li
										a(href='http://www.iyobank.co.jp/sitepolicy.html') サイトポリシー
										|  |
									li
										a(href='http://www.iyobank.co.jp/security_policy.html') セキュリティポリシー
										|  |
									li
										a(href='http://www.iyobank.co.jp/osirase/internet_security2.html') インターネットセキュリティについて
										|  |
									li
										a(href='http://www.iyobank.co.jp/privacy.html') 個人情報のお取り扱いについて
										|  |
									li
										a(href='http://www.iyobank.co.jp/osirase/houshin.html') 顧客保護等管理方針
										|  |
									li
										a(href='http://www.iyobank.co.jp/yokinhoken.html') 預金保険制度
										|  |
									li
										a(href='http://www.iyobank.co.jp/riekisouhan.html') 利益相反管理の方針の概要
										|  |
									li
										a(href='http://www.iyobank.co.jp/osirase/gyoumukeizoku.html') 業務継続方針
										|  |
									li
										a(href='http://www.iyobank.co.jp/persuade-plan.html') 金融商品勧誘方針
										|  |
									li
										a(href='http://www.iyobank.co.jp/antisocial.html') 反社会的勢力への対応に係る基本方針
										|  |
									li
										a(href='http://www.iyobank.co.jp/enkatsu.html') 金融円滑化への取組み
										|  |
									li
										a(href='http://www.iyobank.co.jp/kameiten.html') 加盟店情報の共同利用について
										|  |
									li
										a(href='http://www.iyobank.co.jp/site_map.html') サイトマップ
					#pbBlock295718.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							.picupmenu
								| ≪登録金融機関の概要≫
								br
								| 商号等：株式会社伊予銀行　登録番号：四国財務局長（登金）第2号　加入協会：日本証券業協会、一般社団法人金融先物取引業協会
					#pbBlock21102.pbNested.pbNestedWrapper
						.pbBlock.pbBlockBase
							div
								.copy(style='margin-bottom: 14px;') Copyright(c) THE IYO BANK,Ltd.All Rights Reserved.
								script(type='text/javascript', src='http://www.iyobank.co.jp/library/urchin/urchin.js')
								script(type='text/javascript').
									//<![CDATA[
									if(typeof(urchinTrackerExecuted) == "undefined"){
									urchinTracker();
									//GA
									(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
									(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
									m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
									})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
									ga('create', 'UA-54296136-1', 'auto');
									ga('send', 'pageview');
									}
									//]]>
								script(src='https://navicast.jp/NavicastApi.js?iyobank', charset='UTF-8', type='text/javascript')
								script(type='text/javascript').
									//<![CDATA[
									(function() {
									var da = document.createElement('script');
									da.type = 'text/javascript'; da.async = true;
									if ('https:' == document.location.protocol) {
									da.src =  'https://rsv.dga.jp/s/iyobank/search_tool_n1.js';
									} else {
									da.src =  'http://cache.dga.jp/s/iyobank/search_tool_n1.js';
									}
									var sc  = document.getElementsByTagName('script')[0];
									sc.parentNode.insertBefore(da, sc);
									})();
									//]]>
								script(type='text/javascript').
									//<![CDATA[
									if (typeof(RtoasterInitialized) != "undefined") {
									Rtoaster.recommendNow("rtTopMain","rtTopMiddle_rirekirec","rtTopMiddle_rireki","rtKariruTop","rtDirectLogin","rtEbLogin","rtMapTop","rtCommisionTrans","rtTopMainSP","rtDirectLoginSP");
									}
									//]]>
