block title
	-
		var title = 'IYOCA'
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='Content-Style-Type', content='text/css')
meta(http-equiv='X-UA-Compatible', content='IE=7,IE=9')
meta(http-equiv='Content-Script-Type', content='text/javascript')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/view_css.php?pageId=5332&revision=0&mode=0&cssMode=0&noTag=1&blockId=0', charset='UTF-8')
meta(name='keywords', content='IYOCA,イヨカ,伊予銀行,いよぎん,クレジットカード,愛媛,とりカエル')
meta(name='description', content='伊予銀行のクレジットカード「IYOCA（イヨカ）」。いよぎんATM時間外出金手数料無料、愛媛県内のお店でおトクに使えるポイントやキャンペーンなど、IYOCAだけの便利とおトクがこの一枚に。')
title #{title} | 伊予銀行
script(type='text/javascript', src='http://www.iyobank.co.jp/scripts/compat.js')
script(type='text/javascript', src='http://www.iyobank.co.jp/prototype.js')
script(type='text/javascript').
	<!--
	var MenuInputButton_891910 = Class.create();
	MenuInputButton_891910.prototype = {
	initialize: function(className, cmd, parentElement) {
	var elements = document.getElementsByClassName(className, parentElement);
	for (var i = 0, len = elements.length; i < len; i++) {
	Event.observe(elements[i], 'click', this.btnClickEvent.bindAsEventListener(this, cmd));
	Event.observe(elements[i], 'keypress', this.btnClickEvent.bindAsEventListener(this, cmd));
	}
	},
	btnClickEvent: function(event, cmd) {
	var element = Event.element(event);
	jsDoMenuBtn891910(cmd);
	Event.stop(event);
	}
	};
	Event.observe(window, 'load', function () {
	new MenuInputButton_891910('pbSmartViewAllButtonText', 'viewAll');
	});
	function jsDoMenuBtn891910(cmd) {
	switch (cmd) {
	case 'viewAll':
	location.href="http://www.iyobank.co.jp/card_service_top/iyoca?viewAll=1";
	return;
	}
	}
	var pbGlobalAliasBase = '/';
	//-->
script(type='text/javascript', src='http://www.iyobank.co.jp/public.js')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/library/new/css/new_items.css', charset='UTF-8')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/library/new/css/mics_items_import.css', charset='UTF-8')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/library/newtop2016/css/newtop.css', charset='UTF-8')

link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/sp/iyocastyle/css/slick.css', charset='UTF-8')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/sp/iyocastyle/css/slick-theme.css', charset='UTF-8')

link(rel='stylesheet', href=`${assets_prefix}lib/css/bxslider-4/jquery.bxslider.css`)
link(rel='stylesheet', href=`${assets_prefix}css/sfc_style.min.css`)
//if IE 6
	script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/search3_fontsize.js')
	script(type='text/javascript').
		DD_belatedPNG.fix('img, a, .png_bg');
link(rel='shortcut icon', href='http://www.iyobank.co.jp/library/favicon.ico')
link(rel='apple-touch-icon', href='http://www.iyobank.co.jp/library/apple-touch-icon.png')
link(rel='stylesheet', type='text/css', href='http://www.iyobank.co.jp/library/new/main/card_service/iyoca/css/tab.css', charset='UTF-8')
link(rel='stylesheet', href='http://www.iyobank.co.jp/library/new/main/card_service/iyoca/css/slider.css', type='text/css', media='all')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.0.min.js')
script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/jquery-ui-1.8.16.custom.min.js')
script(type='text/javascript', src='http://www.iyobank.co.jp/library/new/js/2015_menu1_double.js')

script(type='text/javascript', src='http://www.iyobank.co.jp/sp/iyocastyle/js/slick/slick.js')

script(type='text/javascript', src='https://js.rtoaster.jp/Rtoaster.js')
script(type='text/javascript').
	if (location.hostname.match(/^www\\./)) {
	//alert('本番系');
	Rtoaster.init("RTA-2fe3-f254f592c579");
	Rtoaster.track();
	var RtoasterInitialized = true;
	} else if (location.hostname.match(/^www2\\./)) {
	//alert('テスト系');
	Rtoaster.init("RTA-2fe3-f25432dec73c");
	Rtoaster.track();
	var RtoasterInitialized = true;
	}
script(type='text/javascript', src=`${assets_prefix}js/sfc_style.js`)
