extends layout.pug
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCA
	// スライド
	.section_header_home
		.regular.slider
			div
				a(href='fujitravel_1704.html')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_fujitravel1704.jpg', alt='IYOCA×フジトラベルサービス ～使う“たび”おトクキャンペーン～', title='IYOCA×フジトラベルサービス ～使う“たび”おトクキャンペーン～')
			div
				a(href='specialweek_1704.html')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_specialweek.png', alt='IYOCA SPECIAL WEEK 期間中IYOCAでお支払すると5%OFF 一部除外品がございます。', title='IYOCA SPECIAL WEEK 期間中IYOCAでお支払すると5%OFF 一部除外品がございます。')
			div
				a(href='ehimecatv_1703.html')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_ecatv.jpg', alt='愛媛CATVのお支払いもIYOCAならおトク！', title='愛媛CATVのお支払いもIYOCAならおトク！')
			div
				a(href='hairsalon_1703.html')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_hairsalon.jpg', alt='IYOCAで始める！トータルビューティーキャンペーン', title='IYOCAで始める！トータルビューティーキャンペーン')
			// <div><a href="present_1703.html"><img src="img/top_main_1703present.jpg" alt="IYOCA会員さま限定プレゼント「石村嘉成さんの“オリジナルハンカチ”4枚セット」" title="IYOCA会員さま限定プレゼント「石村嘉成さんの“オリジナルハンカチ”4枚セット」"></a></div>
			div
				a(href='wakatoku.php')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_wakatoku.png', alt='18～29歳の方限定!! 最大4,000円分クレジットポイントプレゼント!!', title='18～29歳の方限定!! 最大4,000円分クレジットポイントプレゼント!!')
			div
				a(href='iyocalp.php')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_webentry.jpg', alt='Web入会&1回以上のショッピング利用で今なら最大 クレジットポイント4,000円分もらえる！平成29年5月31日（水）申込分まで', title='Web入会&1回以上のショッピング利用で今なら最大 クレジットポイント4,000円分もらえる！平成29年5月31日（水）申込分まで')
			div
				a(href='iyotetsu_1702.html')
					img(src='http://www.iyobank.co.jp/sp/iyocastyle/img/top_main_iiyotetsu.png', alt='IYOCAトクトク共通券 3,000円分プレゼント!', title='IYOCAトクトク共通券 3,000円分プレゼント!')
	p.ar.mb10 <a href="http://www.iyobank.co.jp/sp/iyocastyle/" class="pbOpenNewWindow">IYOCA のキャンペーン情報</a><img src="./images/common/icon_ext.png" alt="" class="icon_ext">
	h2.ac
		img(src=`${assets_prefix}images/top/ttl_top_01.png`, alt="いつもの暮らしに便利！ おトク！！いよぎんのクレジットカード「 IYOCA（イヨカ）」。",tite="いつもの暮らしに便利！ おトク！！いよぎんのクレジットカード「 IYOCA（イヨカ）」。")
	.area--border-gray.top_info_01.mb10(style="margin-top:0;")
		.area--yellow
			h3
				img(src=`${assets_prefix}images/top/ttl_top_02.png`, alt="IYOCAってどんなカード？はじめての方はこちら" ,title="IYOCAってどんなカード？はじめての方はこちら")
			.row--inline-block.row--col2
				.col
					a(href="#con01")
						img(src=`${assets_prefix}images/top/btn_top_01.png`, alt="IYOCA とは？" ,title="IYOCA とは？")
				.col
					a(href="#con02")
						img(src=`${assets_prefix}images/top/btn_top_02.png`, alt="IYOCA のメリット" ,title="IYOCA のメリット")
			.row--inline-block
				.col
					a(href="/card_service_top/iyoca_new/iyoca_top/moushikomi.html")
						img(src=`${assets_prefix}images/top/btn_top_03.png`, alt="今すぐ申し込む（お手元に当行のキャッシュカードをご用意ください）",title="今すぐ申し込む（お手元に当行のキャッシュカードをご用意ください）")
	table.base_table.mb10
		tr
			td.al
				a(href="/card_service_top/iyoca_new/iyoca_new/use/")
					img(src=`${assets_prefix}images/top/img6.png`, alt="IYOCAを使う")
			td.ac
				a(href="/card_service_top/iyoca_new/iyoca_new/point_save/")
					img(src=`${assets_prefix}images/top/img7.png`, alt="ポイントをためる")
			td.ar
				a(href="/card_service_top/iyoca_new/iyoca_new/point_exchange/")
					img(src=`${assets_prefix}images/top/img8.png`, alt="ポイント交換")
		tr
			td.al
				a(href="/card_service_top/iyoca_new/iyoca_new/add_service/")
					img(src=`${assets_prefix}images/top/img9.png`, alt="便利な機能")
			td.ac
				a(href="/card_service_top/iyoca_new/iyoca_new/lineup/")
					img(src=`${assets_prefix}images/top/img10.png`, alt="IYOCAラインナップ",title="IYOCAラインナップ")
			td.ar
				a(href="/card_service_top/iyoca_new/iyoca_new/support/")
					img(src=`${assets_prefix}images/top/img11.png`, alt="会員専用Webサイト・お問い合わせ" , title="会員専用Webサイト・お問い合わせ")
	h3.ac.mb20#con01
		img(src="./images/top/img12.png", alt="IYOCA とは？",title="IYOCA とは？")
	p.ac.mb20
		img(src="./images/top/img13.png", alt="伊予銀行に口座をお持ちの方専用の、おトクなクレジットカードです。",title="伊予銀行に口座をお持ちの方専用の、おトクなクレジットカードです。")
	p.pl15.pr15.mb20 IYOCAには、クレジットカード機能とキャッシュカード機能が1枚になった「一体型」と、クレジットカード機能のみの「単体型」があります。
	p.ac.mb25
		img(src="./images/top/img14.png", alt="一体型 クレジットカード＋キャッシュカード 単体型 クレジットカードのみ",title="一体型 クレジットカード＋キャッシュカード 単体型 クレジットカードのみ")
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca_new/lineup/")
			img(src="./images/top/img15.png", alt="IYOCAラインナップをみる",title="IYOCAラインナップをみる")
	p.ac.mb20
		img(src="./images/top/img16.png", alt="安心のセキュリティ。",title="安心のセキュリティ。")
	.row--col2--layout_table.pl15.pr15.mb50
		.col.vc
			img(src="./images/top/img17.png", alt="",title="")
		.col.vc.pl20
			p ICとは「集積回路（Integrated Circuit）」の略であり、お客さまのお取引に関連する重要なデータを記録しています。<br>また、偽造や変造が困難なため、セキュリティにも優れており、安心してお使いいただけます。
	h3.ac.mb20#con02
		img(src="./images/top/img18.png", alt="IYOCA のメリット",title="IYOCA のメリット")
	p.ac.mb15
		img(src="./images/top/img19.png", alt="メリット１ いよぎんATM時間外出勤手数料が無料！",title="メリット１ いよぎんATM時間外出勤手数料が無料！")
	p.pl15.pr15 対象カードは、IYOCA決済口座の本人キャッシュカード（IYOCA ゴールドのみ代理人キャッシュカードも含む）となります。
	.pl15.pr15
		.sep20
		p.ac
			img(src="./images/top/img20.png", alt="【IYOCA一般】ならいよぎんATM時間外出金手数料が、初年度無料！さらに一定の条件を満たせば2年目以降も無料！",title="【IYOCA一般】ならいよぎんATM時間外出金手数料が、初年度無料！さらに一定の条件を満たせば2年目以降も無料！")
		.sep20
		p.ac
			img(src="./images/top/img21.png", alt="【IYOCA ゴールド】ならいよぎんATM時間外出金手数料が、永年無料！",title="【IYOCA ゴールド】ならいよぎんATM時間外出金手数料が、永年無料！")
		.sep20
		p.ac
			img(src="./images/top/img22.png", alt="【IYOCA JCB EXTAGE】ならいよぎんATM時間外出金手数料が、5年間無料！",title="【IYOCA JCB EXTAGE】ならいよぎんATM時間外出金手数料が、5年間無料！")
		.sep20.mb30
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca_new/use/#con03")
			img(src="./images/top/img23.png", alt="詳しくはこちら",title="詳しくはこちら")
	p.ac.mb20
		img(src="./images/top/img24.png", alt="メリット２IYOCA 会員さまだけのキャンペーンがいっぱい！",title="メリット２IYOCA 会員さまだけのキャンペーンがいっぱい！")
	p.pl15.pr15.mb20 地元での特典がいっぱい！会員さま限定のキャンペーンを毎月実施しています。
	p.ac.mb20
		img(src="./images/top/img25.png", alt="例えば ドラッグストアでボーナスポイントプレゼント！ ゴルフ場で使える割引券プレゼント！ ビアガーデンで飲食料金を割引！ 旅行会社で旅行代金を割引！",title="例えば ドラッグストアでボーナスポイントプレゼント！ ゴルフ場で使える割引券プレゼント！ ビアガーデンで飲食料金を割引！ 旅行会社で旅行代金を割引！")
	p.pl15.pr15.mb20 ※上記は一例です。特典内容や付与条件はキャンペーンにより異なります。
	p.ac.mb50
		a(href="http://www.iyobank.co.jp/sp/iyocastyle/").pbOpenNewWindow
			img(src="./images/top/img26.png", alt="いま、実施中のおトクなキャンペーンはこちら！",title="いま、実施中のおトクなキャンペーンはこちら！")
	p.ac.mb20
		img(src="./images/top/img27.png", alt="メリット３貯まったポイントを、「IYOCA オリジナル交換商品」へ交換しておトク！",title="メリット３貯まったポイントを、「IYOCA オリジナル交換商品」へ交換しておトク！")
	p.pl15.pr15.mb20 貯まったクレジットポイントは、愛媛の色々なお店で使える「IYOCAオリジナル交換商品」に交換できます。
	p.ac.mb30
		img(src="./images/top/img28.png", alt="IYOCA伊予鉄い&#xff5e;カードチャージ引換券&#xffe5;1,000 IYOCAトクトク共通券&#xffe5;1,000 伊予鉄い&#xff5e;カード レデイ薬局※処方箋調剤にはご利用いただいません。 セブンスター 松山全日空ホテル ハタダ フジトラベルサービス レストラン北斗 一六本舗 愛媛大学 松山大学",title="IYOCA伊予鉄い&#xff5e;カードチャージ引換券&#xffe5;1,000 IYOCAトクトク共通券&#xffe5;1,000 伊予鉄い&#xff5e;カード レデイ薬局※処方箋調剤にはご利用いただいません。 セブンスター 松山全日空ホテル ハタダ フジトラベルサービス レストラン北斗 一六本舗 愛媛大学 松山大学")
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca_new/point_save/")
			img(src="./images/top/img23.png", alt="詳しくはこちら",title="詳しくはこちら")
	p.ac.mb30
		img(src=`${assets_prefix}images/top/img29.png`, alt="メリット4 条件を満たせば年会費無料！※IYOCA ゴールドは対象外となります。",title="メリット4 条件を満たせば年会費無料！※IYOCA ゴールドは対象外となります。")
	p.ac.mb15
		img(src=`${assets_prefix}images/top/img30.png`, alt="【IYOCA 一般】なら初年度年会費無料！",title="【IYOCA 一般】なら初年度年会費無料！")
	p.ac.mb15
		img(src=`${assets_prefix}images/top/img32.png`, alt="さらに12のいずれかひとつを満たせば、2年目以降も無料！ 1携帯電話（含むPHS）料金、電気料金のいずれかを毎月クレジットカード決済 2前年1年間のショッピングご利用額が10万円以上（年会費、リボ・分割手数料は対象外）",title="さらに12のいずれかひとつを満たせば、2年目以降も無料！ 1携帯電話（含むPHS）料金、電気料金のいずれかを毎月クレジットカード決済 2前年1年間のショッピングご利用額が10万円以上（年会費、リボ・分割手数料は対象外）")
	ul.fixindent.pl15.pr15.mb30
		li ※いよぎんATM時間外出金手数料は年会費無料の適用日から1年間無料となり、毎年見直します。
		li ※携帯電話（含むPHS）料金は、原則、NTTドコモ・au・ソフトバンク・Y!mobileの通話料金が対象となります。（4社以外のキャリアは対象外です。）
		li ※電気料金は、原則、四国電力、北海道電力、東北電力、東京電力、中部電力、北陸電力、関西電力、中国電力、九州電力、沖縄電力が対象となります。ブランドによっては、一部対象外の電力会社がございます。
		li ※電気料金の口座振替を利用されている方が、クレジット払いに変更された場合、「口座振替割引」が適用されなくなりますのでご注意ください。くわしくは各電力会社にお問い合わせください。
	p.ac.mb50
		img(src=`${assets_prefix}images/top/img31.png`, alt="【IYOCA JCB EXTAGE】なら5年間年会費無料！",title="【IYOCA JCB EXTAGE】なら5年間年会費無料！")
