<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
head
	include _inc_head
body
	#page.pbPage(style='font-size:100%;')
		include _inc_header
		#areaWrapper1.pbAreaWrapper1
			include _inc_left_right_area
			#responsive_flg
			#areaWrapper2.pbAreaWrapper2
				#mainArea.pbMainArea
					#area0.pbArea
						.pbNested
							block main_content
							.contentCommonFooter
								.area--border-gray.top_info_01.mb60
									.area--yellow
										h3(style="margin-left: 150px;margin-top: -40px;")
											img(src=`${assets_prefix}images/common/img6.png`, alt="Webで今すぐ申し込む",title="Webで今すぐ申し込む")
										p.mb15(style="margin-top: -16px;")
											a(href="/card_service_top/iyoca_new/iyoca_top/moushikomi.html")
												img(src=`${assets_prefix}images/common/img1.png`, alt="今すぐ申し込む（お手元に当行のキャッシュカードをご用意ください）",title="今すぐ申し込む（お手元に当行のキャッシュカードをご用意ください）")
										.ac
											img(src=`${assets_prefix}images/common/img7.png`, alt="IYOCA のおトクなキャンペーン情報",title="IYOCA のおトクなキャンペーン情報").vc
											a(href="http://www.iyobank.co.jp/sp/iyocastyle/").pbOpenNewWindow.vc.ml10
												img(src=`${assets_prefix}images/common/img2.png`, alt="IYOCAstyle",title="IYOCAstyle")
								.area--border-gray.area--border-gray-02
									h3.al(style="margin-top: -15px;margin-bottom: 10px;")
										img(src=`${assets_prefix}images/common/img8.png`, alt="ご不明な点、お問い合わせなどはこちらから",title="ご不明な点、お問い合わせなどはこちらから")
									.row--col2--layout_table--line(style="table-layout:fixed;")
										.row
											.col.al.vc(style="width:50%")
												p 受付時間<br>平日&#xff0f;9:00&#xff5e;17:00<br>（銀行休業日は除きます）
											.col.al.vc
												span.hasicon--orange.hasicon--orange--tel
													img(src=`${assets_prefix}images/icon_free.png`, alt="")
													| 0120-14-2214
										.row
											.col.al.vc(style="width:38%")
												p お近くの&#x3008;&#x20;いよぎん&#x20;&#x3009;&#x20;の窓口
											.col.al.vc
												a(href="http://map.iyobank.co.jp/b/iyobank/").pbOpenNewWindow
													img(src=`${assets_prefix}images/common/img3.png`, alt="店舗・ATMのご案内",title="店舗・ATMのご案内")
										.row
											.col.al.vc(style="width:38%")
												p 紛失・盗難にあわれたとき
											.col.al.vc
												a(href="/support/#con02")
													img(src=`${assets_prefix}images/common/img4.png`, alt="お問い合わせ",title="お問い合わせ")
										.row
											.col.al.vc(style="width:38%")
												p お客さまからのご質問をまとめました
											.col.al.vc
												a(href="http://faq-iyobank.custhelp.com/app/answers/list/kw/iyoca/").pbOpenNewWindow
													img(src=`${assets_prefix}images/common/img5.png`, alt="よくあるご質問",title="よくあるご質問")
								p.ac.mt30
									img(src=`${assets_prefix}images/common/dummy.png`, alt="")
				#pbBlock521293.pbNested.pbNestedWrapper
		include _inc_footer
		include _inc_aside_footer
</html>
