extends ../layout.pug
block title
	-
		var title = 'IYOCAを使う'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCAを使う
	.ac.mb20
		a(href="#con01")
			img(src="../images/use/img1.png", alt="クレジットカードとして使う",title="クレジットカードとして使う").ml3.mr3
		a(href="#con02")
			img(src="../images/use/img2.png", alt="キャッシュカードとして使う",title="キャッシュカードとして使う").ml3.mr3
		a(href="#con03")
			img(src="../images/use/img3.png", alt="いよぎんATM時間外出勤手数料が無料",title="いよぎんATM時間外出勤手数料が無料").ml3.mr3
	h3.ac.mb15#con01
		img(src="../images/use/img17.png", alt="クレジットカードとして使う",title="クレジットカードとして使う")
	p.ac.mb20
		img(src="../images/use/img18.png", alt="ショッピングでの利用",title="ショッピングでの利用")
	p.ac.mb20
		img(src="../images/use/img19.png", alt="国内や海外のホテル・百貨店・専門店・飲食店・スーパーなどでご利用できます。",title="国内や海外のホテル・百貨店・専門店・飲食店・スーパーなどでご利用できます。")
	p.ac.mb20
		img(src="../images/use/img20.png", alt="公共料金の支払いにもOK!支払い回数・方法が選べる!あとからリボ払いOK!",title="公共料金の支払いにもOK!支払い回数・方法が選べる!あとからリボ払いOK!")
	p.ac.mb50
		a(href="/card_service_top/iyoca_new/iyoca/iyoca_shoping.html")
			img(src="../images/use/img21.png", alt="詳しくはこちら",title="詳しくはこちら")
	p.ac.mb20
		img(src="../images/use/img22.png", alt="キャッシングでの利用",title="キャッシングでの利用")
	p.ac.mb20
		img(src="../images/use/img23.png", alt="急に現金が必要になった時も、キャッシング機能で安心です。",title="急に現金が必要になった時も、キャッシング機能で安心です。")
	p.ac.mb20
		img(src="../images/use/img24.png", alt="支払い回数・方法が選べる!全国提携銀行やコンビニのCD・ATMで利用できる!海外でのキャッシングもOK!",title="支払い回数・方法が選べる!全国提携銀行やコンビニのCD・ATMで利用できる!海外でのキャッシングもOK!")
	p.ac.mb20
		a(href="/card_service_top/iyoca_new/iyoca/iyoca_cashing_service.html")
			img(src="../images/use/img25.png", alt="詳しくはこちら",title="詳しくはこちら")
	h3.mb30.ac#con02
		img(src="../images/use/img4.png", alt="キャッシュカードとして使う",title="キャッシュカードとして使う")
	p.mb20.ac
		img(src="../images/use/img5.png", alt="いよぎんATMに加え、他提携金融機関ATM、コンビニATMでご預金をお引き出しいただけます。※一体型の場合のみ",title="いよぎんATMに加え、他提携金融機関ATM、コンビニATMでご預金をお引き出しいただけます。※一体型の場合のみ")
	p.mb50.ac
		img(src="../images/use/img6.png", alt="【ATM挿入方向】・IC対応ATM　・クレジットカード ・IC非対応ATM",title="【ATM挿入方向】・IC対応ATM　・クレジットカード ・IC非対応ATM")
	h3.mb5#con03
		img(src="../images/use/img7.png", alt="いよぎんATMで、時間外出金手数料が無料！",title="いよぎんATMで、時間外出金手数料が無料！")
	p.mb15.ac
		img(src="../images/use/img8.png", alt="IYOCAなら！いよぎんATMで、時間外出金手数料が無料！単体型カードの決済口座も対象となります",title="IYOCAなら！いよぎんATMで、時間外出金手数料が無料！単体型カードの決済口座も対象となります")
	p.pl10.mb5
		img(src="../images/use/img26.png", alt="【いよぎんATM時間外出金手数料無料の対象カード】",title="【いよぎんATM時間外出金手数料無料の対象カード】")
	p.ac.mb5
		img(src="../images/use/img27.png", alt="一体型 IYOCA をお持ちの方 DC・BC 【一般】 決済口座のIYOCA（本人カードのみ） DC・BC 【ゴールド】 決済口座のIYOCA（本人および家族カード）※IYOCA DCは、決済口座の代理人キャッシュカードも対象となります。",title="一体型 IYOCA をお持ちの方 DC・BC 【一般】 決済口座のIYOCA（本人カードのみ） DC・BC 【ゴールド】 決済口座のIYOCA（本人および家族カード）※IYOCA DCは、決済口座の代理人キャッシュカードも対象となります。")
	p.ac.mb30
		img(src="../images/use/img28.png", alt="単体型 IYOCA をお持ちの方 DC・JCB・BC 【一般】 JCB EXTAGE 決済口座の本人キャッシュカード DC・JCB・BC 【ゴールド】 決済口座の本人および代理人キャッシュカード",title="単体型 IYOCA をお持ちの方 DC・JCB・BC 【一般】 JCB EXTAGE 決済口座の本人キャッシュカード DC・JCB・BC 【ゴールド】 決済口座の本人および代理人キャッシュカード")
	.pl10.pr10
		p.mb10 【対象外ATM・キャッシュコーナー】<br>他金融機関ATM、コンビニATM、以下の11か所の店外キャッシュコーナーにつきましては、ATM時間外出金手数料無料の対象外となりますのでご注意ください。
		.clearfix.mb50
			.fl.pr50
				p ・県立中央病院共同出張所<br>・聖カタリナ学園共同出張所<br>・東温市役所共同出張所<br>・Aコープたまがわ共同出張所<br>・三島医療センター共同出張所<br>・県立新居浜病院共同出張所
			.fl
				p ・市立大洲病院共同出張所<br>・大洲記念病院共同出張所<br>・西予市立西予市民病院共同出張所<br>・鬼北町立北宇和病院共同出張所<br>・県立南宇和病院共同出張所
	h3.mb20.ac
		img(src="../images/use/img9.png", alt="IYOCA【一般】の場合",title="IYOCA【一般】の場合")
	p.mb15.ac
		img(src="../images/use/img10.png", alt="初年度いよぎんATM時間外出金手数料無料！",title="初年度いよぎんATM時間外出金手数料無料！")
	p.mb15.pl20.pr20 ※お振り込みの際には別途当行所定の振込手数料が必要となります。<br>※対象カードはIYOCA決済口座の本人キャッシュカードとなります。
	p.ac.mb15
		img(src="../images/use/img11.png", alt="12さらにのいずれかひとつを満たせば、2年目以降も無料！ 1携帯電話（含むPHS）料金、電気料金のいずれかを毎月クレジットカード決済 2前年1年間のショッピングご利用額が10万円以上（年会費、リボ・分割手数料は対象外）",title="12さらにのいずれかひとつを満たせば、2年目以降も無料！ 1携帯電話（含むPHS）料金、電気料金のいずれかを毎月クレジットカード決済 2前年1年間のショッピングご利用額が10万円以上（年会費、リボ・分割手数料は対象外）")
	ul.fixindent.pl15.pr15.mb50
		li ※いよぎんATM時間外出金手数料は年会費無料の適用日から1年間無料となり、毎年見直します。
		li ※携帯電話（含むPHS）料金は、原則、NTTドコモ・au・ソフトバンク・Y!mobileの通話料金が対象となります。（4社以外のキャリアは対象外です。）
		li ※電気料金は、原則、四国電力、北海道電力、東北電力、東京電力、中部電力、北陸電力、関西電力、中国電力、九州電力、沖縄電力が対象となります。ブランドによっては、一部対象外の電力会社がございます。
		li ※電気料金の口座振替を利用されている方が、クレジット払いに変更された場合、「口座振替割引」が適用されなくなりますのでご注意ください。くわしくは各電力会社にお問い合わせください。
	h3.mb15
		img(src="../images/use/img12.png", alt="IYOCA【 ゴールド】の場合",title="IYOCA【 ゴールド】の場合")
	p.ac.mb15
		img(src="../images/use/img13.png", alt="永年いよぎんATM時間外出金手数料無料！",title="永年いよぎんATM時間外出金手数料無料！")
	ul.fixindent.pl15.pr15.mb50
		li ※お振り込みの際には別途当行所定の振込手数料が必要となります。
		li ※対象カードはIYOCA決済口座の本人キャッシュカード・代理人キャッシュカードとなります。
	h3.mb15
		img(src="../images/use/img14.png", alt="IYOCA JCB EXTAGE の場合",title="IYOCA JCB EXTAGE の場合")
	p.ac.mb15
		img(src="../images/use/img15.png", alt="5年間いよぎんATM時間外出金手数料無料！",title="5年間いよぎんATM時間外出金手数料無料！")
	ul.fixindent.pl15.pr15.mb20
		li ※お振り込みの際には別途当行所定の振込手数料が必要となります。
		li ※対象カードはIYOCA決済口座の本人キャッシュカードとなります。
	p.ac
		img(src="../images/use/img16.png", alt="初回更新時まで、5年間無料!",title="初回更新時まで、5年間無料!")
	ul.fixindent.pl15.pr15.mb50
		li ※初回更新後は、自動的にIYOCA JCB一般に切り替わります。
		li ※初回更新時までに退会された場合、本人会員および家族会員1人あたり、カード発行手数料2,160円（税込み）をお支払いいただきます。
