extends ../layout.pug
block title
	-
		var title = 'IYOCAの便利な機能'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCAの便利な機能
	.ac.mb20
		a(href="#con01")
			img(src="../images/add_service/img1.png", alt="後払い式電子マネー",title="後払い式電子マネー").ml3.mr3
		a(href="#con02")
			img(src="../images/add_service/img2.png", alt="ETCカード",title="ETCカード").ml3.mr3
		a(href="#con03")
			img(src="../images/add_service/img3.png", alt="クレジット付帯保険",title="クレジット付帯保険").ml3.mr3
	h3.ac.mb20
		img(src="../images/add_service/img4.png",alt="後払い式電子マネー",title="後払い式電子マネー")
	p.ac.mb30
		img(src="../images/add_service/img5.png",alt="",title="無料で発行！IYOCAの電子マネーはチャージ（入金）不要で手間なくご利用いただけます！")
	p.pl15.pr15.mb40 ICカード（カード型）やおサイフケータイ（R）（モバイル型）で、簡単にカード決済ができるサービスです。お支払いは、IYOCAご利用代金と合わせて後払い方式でのご請求となります。<br>※別途お申し込みが必要となります。
	h4.ac.mb20
		img(src="../images/add_service/img6.png",alt="電子マネーのメリット",title="電子マネーのメリット")
	.row--col2--layout_table.pl15.pr15.mb10
		.col
			img(src="../images/add_service/img7.png",alt="",title="")
		.col.vt.pl20
			h5.bold.fs20.mb5 チャージ（入金）不要でラクラク
			p クレジットカードと同じ後払い方式。IYOCAご利用分と合わせてのご請求となるので、事前のチャージが不要です。
	.row--col2--layout_table.pl15.pr15.mb10
		.col
			img(src="../images/add_service/img8.png",alt="",title="")
		.col.vt.pl20
			h5.bold.fs20.mb5 サインすることなく、スピーディー
			p 専用端末にかざすだけで、スムーズにお支払いできます。
	.row--col2--layout_table.pl15.pr15.mb10
		.col
			img(src="../images/add_service/img9.png",alt="",title="")
		.col.vt.pl20
			h5.bold.fs20.mb5 ポイントも貯まっておトク
			p 電子マネー利用分もクレジットポイント付与の対象となりますのでおトクです。
	.row--col2--layout_table.pl15.pr15.mb50
		.col
			img(src="../images/add_service/img10.png",alt="",title="")
		.col.vt.pl20
			h5.bold.fs20.mb5 万一の場合も安心
			p 万一、紛失・盗難により不正使用された場合でも、所定のお届けをいただければ、クレジットカード同様に保証の対象になります。また、お支払い時にカードを店の人に手渡す必要がないので安心です。
	h4.ac.mb20
		img(src="../images/add_service/img11.png",alt="QUICPay（後払い式電子マネー）【IYOCA JCBでのお取り扱い】",title="QUICPay（後払い式電子マネー）【IYOCA JCBでのお取り扱い】")
	p.ac
		img(src="../images/add_service/img12.png",alt="クイックペイは年会費無料！",title="クイックペイは年会費無料！")
	.pl15.pr15
		.sep20
		.area--greenpoint_title
			.ttl
				h5
					span.green ●&nbsp;
					| お申し込みいただける方
			.txt
				p IYOCA JCBをお持ちの本人会員および家族会員
			.ttl
				h5
					span.green ●&nbsp;
					| 種類
			.txt
				p ICカード（カード型）とおサイフケータイ(R)（モバイル型）からお選びいただけます。
			.ttl
				h5
					span.green ●&nbsp;
					| ご利用可能枠とお支払い方法
			.txt
				p クイックペイでのご利用分は、IYOCAのショッピングご利用分と合算され、本人カードのご利用可能枠でご利用いただけます。また、お支払方法は本人カードに準じた設定となります。<br>※1回のご利用金額の上限は2万円です。
			.ttl
				h5
					span.green ●&nbsp;
					| お申し込み方法
			.txt
				p.mb20 店頭またはインターネットでお申し込みいただけます。
				.row--col2--layout_table.pl15.pr15.mb10
					.col
						img(src="../images/add_service/img13.png",alt="",title="")
					.col.vt.pl20
						h5.bold.fs18.mb5 1．インターネットでお申し込み
						p 会員専用Webサイト（  <a href="https://my.jcb.co.jp/Login?link_id=cojp_head_myj_login" class="pbOpenNewWindow">MyJCB</a><img src="../images/common/icon_ext.png" alt="" class="icon_ext"> ）からお申し込みください。
				.row--col2--layout_table.pl15.pr15.mb10
					.col
						img(src="../images/add_service/img14.png",alt="",title="")
					.col.vt.pl20
						h5.bold.fs18.mb5 2．店頭でのお申し込み
						p IYOCAとIYOCA決済口座のお届印、本人確認書類をお持ちになって、お近くのいよぎんの窓口までお越しください。
				ul.fixindent.pr15.pl15
					li ※クイックペイはIYOCA JCBをお持ちのお客さまがご利用いただけるサービスです。クイックペイ単独ではお申し込みいただけません。
					li ※お支払い金額によっては、サインが必要となる場合がございます。
					li ※「おサイフケータイ（R）」は、NTTドコモの登録商標です。
	p.ac.mt30.mb50
		a(href="http://www.jcb.co.jp/card/add/quicpay/").pbOpenNewWindow
			img(src="../images/add_service/img15.png",alt="クイックペイ",title="クイックペイ")

	h4.ac.mb20
		img(src="../images/add_service/img16.png",alt="iD（後払い式電子マネー）【IYOCA BCでのお取り扱い】",title="iD（後払い式電子マネー）【IYOCA BCでのお取り扱い】")
	p.ac
		img(src="../images/add_service/img17.png",alt="",title="iDは年会費無料！")
	.pl15.pr15
		.sep20
		.area--greenpoint_title
			.ttl
				h5
					span.green ●&nbsp;
					| お申し込みいただける方
			.txt
				p IYOCA BCをお持ちの本人会員および家族会員
			.ttl
				h5
					span.green ●&nbsp;
					| 種類
			.txt
				p ICカード（カード型）とおサイフケータイ(R)（モバイル型）からお選びいただけます。
			.ttl
				h5
					span.green ●&nbsp;
					| ご利用可能枠とお支払い方法
			.txt
				p ご利用分は、IYOCAのショッピングご利用分と合算され、本人カードのご利用可能枠でご利用いただけます。また、お支払方法は本人カードに準じた設定となります。<br>※1回のご利用金額の上限は1万円です。<br>※1日のご利用金額の上限は２万円です。
			.ttl.mb10
				h5
					span.green ●&nbsp;
					| お申し込み方法
			.txt
				.row--col2--layout_table.pl15.pr15.mb10
					.col
						img(src="../images/add_service/img14.png",alt="",title="")
					.col.vt.pl20
						p 店頭でお申し込みいただけます。IYOCAとIYOCA決済口座のお届印、本人確認書類をお持ちになって、お近くのいよぎんの窓口までお越しください。
				ul.fixindent.pr15.pl15
					li ※iDはIYOCA BCをお持ちのお客さまがご利用いただけるサービスです。<br>iD単独ではお申し込みいただけません。
					li ※お支払い金額によっては、サインが必要となる場合がございます。
					li ※「おサイフケータイ（R）」は、NTTドコモの登録商標です。
	p.ac.mt30.mb50
		a(href="https://www3.vpass.ne.jp/mem/addcard/id-credit_top.jsp?cc=064").pbOpenNewWindow
			img(src="../images/add_service/img18.png",alt="いよぎんiD",title="いよぎんiD")
	h3.mb20.ac#con02
		img(src="../images/add_service/img19.png",alt="ETC カード",title="ETC カード")
	p.ac.mb20
		img(src="../images/add_service/img20.png",alt="無料で発行！IYOCAがあれば、便利なETCカードを本人会員、家族会員とも1枚ずつお申し込みいただけます。",title="無料で発行！IYOCAがあれば、便利なETCカードを本人会員、家族会員とも1枚ずつお申し込みいただけます。")
	p.pl15.pr15.mb20
		| ETC（ノンストップ自動料金支払いシステム）を使えば、有料道路の料金所をノンストップでスムーズに通過できます。通行料金は、IYOCAによる後払いになります。
	.row--col2--layout_table.pl15.pr15
		.col.vc.ar(style="width:194px;")
			img(src="../images/add_service/img21.png",alt="",title="")
		.col.vc.pl20
			h5.bold.fs18.mb15 IYOCA DC【 一般・ゴールド】の方
			a(href="http://www.cr.mufg.jp/dc/service/add/etc/").pbOpenNewWindow
				img(src="../images/add_service/img22.png",alt="詳しくはこちら",title="詳しくはこちら")
	.ml15.mr15.sep20
	.row--col2--layout_table.pl15.pr15
		.col.vc.ar(style="width:194px;")
			img(src="../images/add_service/img23.png",alt="",title="")
		.col.vc.pl20
			h5.bold.fs18.mb15 IYOCA JCB【一般・ゴールド・EXTAGE】の方
			a(href="http://www.jcb.co.jp/card/add/etc/through-card.html").pbOpenNewWindow
				img(src="../images/add_service/img22.png",alt="詳しくはこちら",title="詳しくはこちら")
	.ml15.mr15.sep20
	.row--col2--layout_table.pl15.pr15
		.col.vc.ar(style="width:194px;")
			img(src="../images/add_service/img24.png",alt="",title="")
		.col.vc.pl20
			h5.bold.fs18.mb15 IYOCA BC【一般・ゴールド】の方
			a(href="http://www3.vpass.ne.jp/mem/addcard/etc_top.jsp?cc=064").pbOpenNewWindow
				img(src="../images/add_service/img22.png",alt="詳しくはこちら",title="詳しくはこちら")
	.ml15.mr15.sep20.mb50
	h3.mb20#con03
		img(src="../images/add_service/img25.png",alt="クレジット付帯保険",title="クレジット付帯保険")
	p.ac.mb40
		img(src="../images/add_service/img26.png",alt="IYOCAには旅行やショッピングをサポートする保険が自動的に付帯しています。",title="IYOCAには旅行やショッピングをサポートする保険が自動的に付帯しています。")
	.ml15.mr15.mb60
		p.mb20 詳しくは各カードの詳細ページをご確認ください。
		table.table--stripe
			thead
				tr
					th カードの種類
					th 海外旅行<br>傷害保険
					th 国内旅行<br>傷害保険
					th ショッピング<br>関連保険
			tbody
				tr
					td
						img(src="../images/add_service/img27.png",alt="IYOCA DC 一般",title="IYOCA DC 一般")
					td ー
					td ー
					td ー
				tr
					td
						img(src="../images/add_service/img28.png",alt="IYOCA DC ゴールド",title="IYOCA DC ゴールド")
						a(href="/card_service_top/iyoca_new/iyoca/dc_hoken.html")
							img(src="../images/add_service/img29.png",alt="IYOCA DC ゴールド",title="IYOCA DC ゴールド")
					td ○
					td ○
					td ○
				tr
					td
						img(src="../images/add_service/img30.png",alt="IYOCA JCB 一般",title="IYOCA JCB 一般")
						a(href="/card_service_top/iyoca_new/iyoca/jcb_hoken.html")
							img(src="../images/add_service/img31.png",alt="IYOCA JCB 一般",title="IYOCA JCB 一般")
					td ○
					td ○
					td ○
				tr
					td
						img(src="../images/add_service/img32.png",alt="IYOCA JCB ゴールド",title="IYOCA JCB ゴールド")
						a(href="/card_service_top/iyoca_new/iyoca/jcb_gold_hoken.html")
							img(src="../images/add_service/img33.png",alt="IYOCA JCB ゴールド",title="IYOCA JCB ゴールド")
					td ○
					td ○
					td ○
				tr
					td
						img(src="../images/add_service/img34.png",alt="IYOCA JCB EXTAGE",title="IYOCA JCB EXTAGE")
						a(href="/card_service_top/iyoca_new/iyoca/jcb_extage_hoken.html")
							img(src="../images/add_service/img35.png",alt="IYOCA JCB EXTAGE",title="IYOCA JCB EXTAGE")
					td ○
					td ー
					td ○
				tr
					td
						img(src="../images/add_service/img36.png",alt="IYOCA BC 一般",title="IYOCA BC 一般")
						a(href="")
							img(src="../images/add_service/img37.png",alt="IYOCA BC 一般",title="IYOCA BC 一般")
					td ○
					td ー
					td ○
				tr
					td
						img(src="../images/add_service/img38.png",alt="IYOCA BC ゴールド",title="IYOCA BC ゴールド")
						a(href="")
							img(src="../images/add_service/img39.png",alt="IYOCA BC ゴールド",title="IYOCA BC ゴールド")
					td ○
					td ○
					td ○
