extends ../layout.pug
block title
	-
		var title = 'IYOCA のクレジットポイントを貯める'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCA のクレジットポイントを貯める
	.ac.mb20
		a(href="#con01")
			img(src="../images/point_save/img1.png", alt="ポイントを貯めよう！",title="ポイントを貯めよう！").ml3.mr3
		a(href="#con02")
			img(src="../images/point_save/img2.png", alt="ポイントボーナス",title="ポイントボーナス").ml3.mr3
		a(href="#con03")
			img(src="../images/point_save/img3.png", alt="ポイント有効期限確認方法",title="ポイント有効期限・確認方法").ml3.mr3
	h3.ac.mb20
		img(src="../images/point_save/img4.png", alt="ポイント付与のルール",title="ポイント付与のルール")
	p.ac.mb15
		img(src="../images/point_save/img5.png", alt="IYOCAなら！IYOCA毎月のご利用合計金額1,000円ごとに1ポイント貯まります。",title="IYOCAなら！IYOCA毎月のご利用合計金額1,000円ごとに1ポイント貯まります。")
	p.fineindent.pl15.pr15.mb30 ※年会費、キャッシング、キャッシングリボ、リボ・分割手数料などはポイントのポイントの対象にはなりません。
	h3.ac.mb20#con01
		img(src="../images/point_save/img6.png", alt="ポイントをどんどん貯めよう！",title="ポイントをどんどん貯めよう！")
	p.ac
		img(src="../images/point_save/img7.png", alt="例えば29歳・OL1人暮らしのAさんの場合ショッピング 30,000円ケータイ代 10,000円電気料金 5,000円ガス料金 3,000円ヘアサロン 10,000円英会話教室 10,000円飲食代 12,000円合計 80,000円&#xff0f;月",title="例えば29歳・OL1人暮らしのAさんの場合ショッピング 30,000円ケータイ代 10,000円電気料金 5,000円ガス料金 3,000円ヘアサロン 10,000円英会話教室 10,000円飲食代 12,000円合計 80,000円&#xff0f;月")
	p.ac
		img(src="../images/point_save/img8.png", alt="お支払いをIYOCA【一般】にまとめたら&#x2193;80ポイント貯まる！！1年間続けると… 合計960ポイント！！",title="お支払いをIYOCA【一般】にまとめたら&#x2193;80ポイント貯まる！！1年間続けると… 合計960ポイント！！")
	.sep20
	p.ac
		img(src="../images/point_save/img9.png", alt="例えば40歳・会社員3人暮らしのBさん一家の場合スーパーマーケット 40,000円ケータイ代3人分 20,000円電気料金 10,000円ガス料金 6,000円スポーツジム会費 7,000円学習塾 25,000円自動車保険料 7,000円CATV利用料 5,000円ガソリン代 10,000円ゴルフ場 10,000円合計 140,000円&#xff0f;月",title="例えば40歳・会社員3人暮らしのBさん一家の場合スーパーマーケット 40,000円ケータイ代3人分 20,000円電気料金 10,000円ガス料金 6,000円スポーツジム会費 7,000円学習塾 25,000円自動車保険料 7,000円CATV利用料 5,000円ガソリン代 10,000円ゴルフ場 10,000円合計 140,000円&#xff0f;月")
	p.ac
		img(src="../images/point_save/img10.png", alt="お支払いをIYOCA【ゴールド】にまとめたら&#x2193;140ポイント貯まる！！1年間続けると… 合計1,680ポイント！！",title="お支払いをIYOCA【ゴールド】にまとめたら&#x2193;140ポイント貯まる！！1年間続けると… 合計1,680ポイント！！")
	.sep20.mb60
	h3.ac.mb30#con02
		img(src="../images/point_save/img11.png", alt="年間のご利用金額に応じて、さらにポイントが貯まります。",title="年間のご利用金額に応じて、さらにポイントが貯まります。")
	h4.ac.mb20
		img(src="../images/point_save/img12.png", alt="IYOCA DC【 一般・ゴールド】の場合",title="IYOCA DC【 一般・ゴールド】の場合")
	p.ac.mb20
		img(src="../images/point_save/img13.png", alt="おトク！ ポイント優遇サービス",title="おトク！ ポイント優遇サービス")
	p.ac.mb15
		img(src="../images/point_save/img14.png", alt="年間50万円以上100万円未満の利用 翌年度、基本ポイントの20％を加算 年間100万円以上の利用 翌年度、基本ポイントの50％を加算",title="年間50万円以上100万円未満の利用 翌年度、基本ポイントの20％を加算 年間100万円以上の利用 翌年度、基本ポイントの50％を加算")
	ul.fixindent.pl15.pr15
		li ※年間ショッピングご利用金額は、毎年4月ご請求分〜翌年3月ご請求分の合計となります。（年間ショッピングご利用金額には、家族会員さまご利用分を合算します。キャッシングご利用金額、年会費、手数料等のお支払いは対象外です。）
		li ※ポイント優遇は、4月の請求分のショッピング利用分から1年間適用されます。
		li ※基本ポイントにはリボ払い、分割払い（3回以上）でのショッピング利用によって付与されたポイントは含まれません。
		li ※集計期間中にゴールドカードに切り替えられた場合、一般カードでのショッピングご利用金額を合算してカウントいたします。
		li ※ポイント優遇達成状況は、<a href="https://www2.cr.mufg.jp/newsplus/iyo/" class="pbOpenNewWindow">会員専用Webサイト</a><img src="../images/common/icon_ext.png" alt="" class="icon_ext">にてご確認いただけます
	.sep20
	p.ac.mb20
		img(src="../images/point_save/img15.png", alt="さらにゴールド限定ボーナスポイントサービス",title="さらにゴールド限定ボーナスポイントサービス")
	p.pl15.pr15.mb10 年間ショッピングご利用金額に応じてボーナスポイントをプレゼント！
	p.ac
		img(src="../images/point_save/img16.png", alt="年間50万円以上の利用 1,000ポイント（5,000円相当） 年間100万円以上の利用 2,000ポイント（10,000円相当）",title="年間50万円以上の利用 1,000ポイント（5,000円相当） 年間100万円以上の利用 2,000ポイント（10,000円相当）")
	ul.fixindent.pl15.pr15.mb60
		li ※年間ショッピングご利用金額は、毎年4月ご請求分〜翌年3月ご請求分の合計となります。（年間ショッピングご利用金額には、家族会員さまご利用分を合算します。キャッシングご利用金額、年会費、手数料等のお支払いは対象外です。）
		li ※ボーナスポイントは、毎年5月のご利用明細に反映されます。
		li ※集計期間中にゴールドカードに切り替えられた場合、一般カードでのショッピングご利用金額を合算してカウントいたします。
	h3.ac.mb20
		img(src="../images/point_save/img17.png", alt="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合",title="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合")
	p.ac
		img(src="../images/point_save/img18.png", alt="おトク！ ポイント優遇サービス",title="おトク！ ポイント優遇サービス")
	p.ac.mb15
		img(src="../images/point_save/img19.png", alt="年間50万円以上100万円未満の利用 翌年度、基本ポイントの20％を加算 年間100万円以上の利用 翌年度、基本ポイントの50％を加算 ゴールド限定 年間300万円以上の利用 翌年度、基本ポイントの60％を加算",title="年間50万円以上100万円未満の利用 翌年度、基本ポイントの20％を加算 年間100万円以上の利用 翌年度、基本ポイントの50％を加算 ゴールド限定 年間300万円以上の利用 翌年度、基本ポイントの60％を加算")
	ul.fixindent.pl15.pr15
		li ※年間ショッピングご利用金額は、毎年4月ご請求分〜翌年3月ご請求分の合計となります。（年間ショッピングご利用金額には、家族会員さまご利用分を合算します。キャッシングご利用金額、年会費、手数料等のお支払いは対象外です。）
		li ※ポイント優遇は、4月の請求分のショッピング利用分から1年間適用されます。
		li ※基本ポイントにはリボ払い、分割払い（3回以上）でのショッピング利用によって付与されたポイントは含まれません。
		li ※集計期間中にゴールドカードに切り替えられた場合、一般カードでのショッピングご利用金額を合算してカウントいたします。
		li ※ポイント優遇達成状況は、<a href="https://my.jcb.co.jp/Login?link_id=cojp_head_myj_login" class="pbOpenNewWindow">会員専用Webサイト</a><img src="../images/common/icon_ext.png" alt="" class="icon_ext">にてご確認いただけます。
	.sep20.mb30
	p.ac.mb30
		img(src="../images/point_save/img20.png", alt="さらにゴールド限定ボーナスポイントサービス",title="さらにゴールド限定ボーナスポイントサービス")
	p.pl15.pr15.mb10 年間ショッピングご利用金額に応じてボーナスポイントをプレゼント！
	p.ac.mb10
		img(src="../images/point_save/img21.png", alt="年間50万円以上の利用 1,000ポイント（5,000円相当） 年間100万円以上の利用 2,000ポイント（10,000円相当）",title="年間50万円以上の利用 1,000ポイント（5,000円相当） 年間100万円以上の利用 2,000ポイント（10,000円相当）")
	ul.fixindent.pl15.pr15
		li ※年間ショッピングご利用金額は、毎年4月ご請求分〜翌年3月ご請求分の合計となります。（年間ショッピングご利用金額には、家族会員さまご利用分を合算します。キャッシングご利用金額、年会費、手数料等のお支払いは対象外です。）
		li ※ボーナスポイントは、毎年5月のご利用明細に反映されます。
		li ※集計期間中にゴールドカードに切り替えられた場合、一般カードでのショッピングご利用金額を合算してカウントいたします。
	.sep20.mt30.mb30
	p.ac.mb20
		img(src="../images/point_save/img22.png", alt="注目！ EXTAGE 限定 EXTAGE独自の高ポイント還元率によるボーナスポイントサービス",title="注目！ EXTAGE 限定 EXTAGE独自の高ポイント還元率によるボーナスポイントサービス")
	p.ac.mb20
		img(src="../images/point_save/img23.png", alt="",title="ご入会月から3ヶ月間、新規入会ボーナスポイント3倍 ※１ ※２ ご入会4ヶ月目から1年間まで、EXTAGEボーナスポイント1.5倍 ※3 ※4 海外加盟店でのショッピング利用分ポイント2倍")
	ul.fixindent--2.pl15.pr15.mb60
		li ※1 入会日が1日〜15日までの方は4か月後のお振替分、16日〜末日までの方は5か月後のお振替分までポイントが3倍となります。カードがお手元に届きましたら、「カード発行のご案内」に記載の「入会年月日」を必ずご確認ください。<br>＜例＞4月13日ご入会の方は、8月10日お振替分までポイント3倍
		li ※2 ショッピング2回払いおよびボーナス1回払いなど、上記期間外にお支払いいただく場合は新規入会ボーナスの対象とはなりません。
		li ※3 毎年1月1日〜15日にご入会のお客さまは入会翌年1月10日（土・日・祝日の場合は翌営業日）のカードお振替分まで、毎年1月16日〜12月31日の間にご入会のお客さまは入会翌々年1月10日（土・日・祝日の場合は翌営業日）のカードお振替分までは、ポイントが1.5倍になります。
		li ※4 以降は毎年12月16日からその翌年12月15日までのショッピングご利用合計金額により、付与率が変動します。
		li ■20万円以上の場合／1.5倍
		li ■20万円未満の場合／1.0倍（ボーナス適用なし）
	h3.ac.mb20#con03
		img(src="../images/point_save/img24.png", alt="ポイントの有効期間・確認方法",title="ポイントの有効期間・確認方法")
	h4.ac.mb20
		img(src="../images/point_save/img25.png", alt="IYOCA DC【 一般・ゴールド】の場合",title="IYOCA DC【 一般・ゴールド】の場合")
	p.mb25
		img(src="../images/point_save/img26.png", alt="ポイントは獲得月から、最長3年間有効です。",title="ポイントは獲得月から、最長3年間有効です。")
	ul.fixindent.pl15.pr15.mb30
		li ※4月〜翌年3月末までのポイントが200ポイント以上の場合、翌年に自動継続となります。
		li ※200ポイント未満の場合は3月末で失効となります。初年度のポイントは失効とならず、翌年に繰越となります。
	.row--col2--layout_table--line(style="table-layout:fixed;").mb60
		.row
			.col.ac.vc(style="width:28%")
				img(src="../images/point_save/img27.png", alt="インターネット",title="インターネット")
			.col.al.vc
				a(href="https://www2.cr.mufg.jp/newsplus/iyo/").pbOpenNewWindow
					img(src="../images/point_save/img28.png", alt="会員専用Webサイト「DC Webサービス」",title="会員専用Webサイト「DC Webサービス」")
				p ※サービスのご利用にはご登録が必要です。
		.row
			.col(style="width:28%").ac
				img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
			.col.al.vc
				p.fs18.bold 「DCハッピープレゼントデスク」
				p.hasicon--orange.fs30 03-3770-3030
				p.mb10 （受付時間 9:00～20:00・年中無休）<br>音声ガイダンスに従って操作してください。
				p
					img(src="../images/point_save/img30.png", alt="ポイント確認 コード番号 25",title="ポイント確認 コード番号 25")
				p.mt10.fineindent ※カード番号（16桁）が必要となります。<br>お手元にIYOCA DCカードをご用意ください。
		.row
			.col.ac.vc(style="width:28%")
				img(src="../images/point_save/img31.png", alt="ご利用代金明細書",title="ご利用代金明細書")
			.col.al.vc
				p ご利用代金明細書にて<br>獲得ポイントをご確認いただけます。
	h3.ac.mb20
		img(src="../images/point_save/img32.png", alt="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合",title="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合")
	p
		img(src="../images/point_save/img33.png", alt="ポイントは獲得月から、一般・EXTAGEは2年間、ゴールドは３年間有効です。",title="ポイントは獲得月から、一般・EXTAGEは2年間、ゴールドは３年間有効です。")
	ul.fixindent.pl15.pr15.mb30
		li ※有効期間終了後は1か月単位で自動的に失効します。
		li ※各種キャンペーン等で獲得したボーナスポイントの有効期間も獲得月より2年間となります。（ゴールドは3年間）
	.row--col2--layout_table--line(style="table-layout:fixed;").mb60
		.row
			.col.ac.vc(style="width:28%").ac
				img(src="../images/point_save/img27.png", alt="インターネット",title="インターネット")
			.col.al.vc
				a(href="https://my.jcb.co.jp/Login?link_id=cojp_head_myj_login").pbOpenNewWindow
					img(src="../images/point_save/img34.png", alt="会員専用Webサイト「My JCB」",title="会員専用Webサイト「My JCB」")
				p ※サービスのご利用にはご登録が必要です。
		.row
			.col.ac(style="width:28%")
				img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
			.col.al.vc
				p.fs18.bold 商品応募ダイヤル
				p.hasicon--orange.hasicon--orange--tel
					img(src=`${assets_prefix}images/icon_free.png`, alt="")
					|0120-409-309
				p.fs18.bold 携帯電話からは&nbsp;0570-00-3331（有料）
				p.mt10 （24時間・年中無休・自動音声）<br>音声ガイダンスに従って操作してください。
				p.fineindent ※カード番号（16桁）が必要となります。<br>お手元にIYOCA JCBカードをご用意ください。
		.row
			.col.ac.vc(style="width:28%")
				img(src="../images/point_save/img31.png", alt="ご利用代金明細書",title="ご利用代金明細書")
			.col.al.vc
				p ご利用代金明細書にて<br>獲得ポイントをご確認いただけます。
	h3.ac.mb20
		img(src="../images/point_save/img35.png", alt="IYOCA BC【 一般・ゴールド】の場合",title="IYOCA BC【 一般・ゴールド】の場合")
	p.ac
		img(src="../images/point_save/img36.png", alt="ポイントは獲得月から、2年間有効です。",title="ポイントは獲得月から、2年間有効です。")
	ul.fixindent.pl15.pr15.mb30
		li ※ボーナスポイント・プレミアムポイントなどの特別ポイントも同様です。
		li ※有効期間終了後は自動的に失効となり、失効したポイントはご利用いただけません。
	.row--col2--layout_table--line(style="table-layout:fixed;").mb40
		.row
			.col.ac.vc(style="width:28%").ac
				img(src="../images/point_save/img27.png", alt="インターネット",title="インターネット")
			.col.al.vc
				a(href="http://www3.vpass.ne.jp/mem/top/index.jsp?cc=064").pbOpenNewWindow
					img(src="../images/point_save/img37.png", alt="会員専用Webサイト「Vpass（ブイパス）」",title="会員専用Webサイト「Vpass（ブイパス）」")
				p ※サービスのご利用にはご登録が必要です。
		.row
			.col.ac(style="width:28%")
				img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
			.col.al.vc
				p.fs18.bold 商品応募ダイヤル
				p.hasicon--orange.hasicon--orange--tel
					img(src=`${assets_prefix}images/icon_free.png`, alt="")
					| 0120-911-911
				p.fs18.bold 携帯電話・PHSからもご利用いただけます。
				p.mt10 （24時間・年中無休・自動音声）<br>音声ガイダンスに従って操作してください。
				p.fineindent ※カード番号（16桁）が必要となります。<br>お手元にIYOCA BCカードをご用意ください。

		.row
			.col.ac.vc(style="width:28%")
				img(src="../images/point_save/img31.png", alt="ご利用代金明細書",title="ご利用代金明細書")
			.col.al.vc
				p ご利用代金明細書にて<br>獲得ポイントをご確認いただけます。
	p.ac.mb60
		a(href="/iyoca_new/point_exchange/")
			img(src="../images/point_save/img38.png", alt="貯まったポイントを交換する！",title="貯まったポイントを交換する！")
