extends ../layout.pug
block title
	-
		var title = 'IYOCAのクレジットポイントを交換する'
block main_content
	#pbBlock505010.pbNested.pbNestedWrapper
		div(style='width:100%;')
			div(style='width:100%;margin:0px')
				.pbBlock.pbTitleBlock.iygH2-txt
					h2 IYOCAのクレジットポイントを交換する
	.ac.mb20
		a(href="#con01")
			img(src="../images/point_exchange/img1.png", alt="IYOCAオリジナル交換商品",title="IYOCAオリジナル交換商品").ml3.mr3
		a(href="#con02")
			img(src="../images/point_exchange/img2.png", alt="「IYOCAオリジナル交換商品」への交換方法",title="「IYOCAオリジナル交換商品」への交換方法").ml3.mr3
		a(href="#con03")
			img(src="../images/point_exchange/img3.png", alt="その他商品交換ポイント移行",title="その他商品交換ポイント移行").ml3.mr3
	p.ac.mb50
		img(src="../images/point_exchange/img4.png", alt="IYOCAのご利用で貯まったクレジットポイントは、愛媛の色々なお店で使える「IYOCAオリジナル交換商品」や、各カード会社が提供する商品への交換、他社ポイントへの移行ができます。",title="IYOCAのご利用で貯まったクレジットポイントは、愛媛の色々なお店で使える「IYOCAオリジナル交換商品」や、各カード会社が提供する商品への交換、他社ポイントへの移行ができます。")
	h3.ac.mb20#con01
		img(src="../images/point_exchange/img5.png", alt="IYOCA オリジナル交換商品",title="IYOCA オリジナル交換商品")
	p.pl15.pr15.mb20 伊予鉄い～カードにチャージができる「伊予鉄い～カードチャージ引換券」と､愛媛のいろいろなお店でおトクに使える「IYOCAトクトク共通券」の2種類がございます。
	p.ac.mb30
		img(src="../images/point_exchange/img6.png", alt="IYOCAなら！200ポイントで、IYOCAオリジナル交換商品１枚（1,000円分）と交換できます。",title="IYOCAなら！200ポイントで、IYOCAオリジナル交換商品１枚（1,000円分）と交換できます。")
	h4.mb20.ac
		img(src="../images/point_exchange/img7.png", alt="「伊予鉄い&#xff5e;カード」チャージ引換券",title="「伊予鉄い&#xff5e;カード」チャージ引換券")
	.row--col2--layout_table.pl15.pr15.mb50
		.col
			img(src="../images/point_exchange/img8.png", alt="IYOCA伊予鉄い&#xff5e;カードチャージ引換券チャージ伊予鉄い&#xff5e;カード",title="IYOCA伊予鉄い&#xff5e;カードチャージ引換券チャージ伊予鉄い&#xff5e;カード")
		.col.vt
			p お手持ちの<br>「伊予鉄い&#xff5e;カード」に<br>チャージできます。
	h4.mb20.ac
		img(src="../images/point_exchange/img9.png", alt="IYOCAトクトク共通券",title="IYOCAトクトク共通券")
	.row--col2--layout_table.pl15.pr15.mb5
		.col(style="width:30%")
			img(src="../images/point_exchange/img10.png", alt="IYOCAトクトク共通券&#xffe5;1,000",title="IYOCAトクトク共通券&#xffe5;1,000")
		.col.vt
			p 愛媛のいろいろな企業が発行する<br>商品券への交換や割引利用、<br>電子マネーへのチャージができます。
	p.ac
		img(src="../images/point_exchange/img11.png", alt="愛媛のいろいろな企業が発行する商品券への交換や割引利用、電子チャージができます。 商品券への交換 セブンスター  松山全日空ホテル  レストラン北斗 一六本舗  ハタダ 割引券として利用 レデイ薬局※処方箋調剤にはご利用いただいたけません フジトラベルサービス 電子マネーへのチャージ 愛媛大学 松山大学",
		title="愛媛のいろいろな企業が発行する商品券への交換や割引利用、電子チャージができます。 商品券への交換 セブンスター  松山全日空ホテル  レストラン北斗 一六本舗  ハタダ 割引券として利用 レデイ薬局※処方箋調剤にはご利用いただいたけません フジトラベルサービス 電子マネーへのチャージ 愛媛大学 松山大学")
	.pl15.pr15
		p.mt30.mb30 「IYOCAトクトク共通券」は、以下の窓口にて交換・ご利用いただけます。
		.area--title_border.area--title_border--orange
			h3 商品券への交換
			.inner
				.subttl
					h4 ITMグループ
					p.sub （スーパーセブンスター、一六本舗、レストラン北斗でご利用いただけます。）
				.cont
					p <span class="bold">【スーパーセブンスター】</span> 各店のレジカウンター
					p <span class="bold">【一六本舗】</span> 各店のレジカウンター
					p.fineindent ※いよてつ髙島屋店、一庵、一六茶寮、茶寮十六番館、フジ夏目店、G丸亀店、オズメッセ店は対象外です。
					p <span class="bold">【レストラン北斗】 </span> 北斗七星、レストラン北斗駅前店、海鮮北斗のレジカウンター
					p <span class="bold">【うどん茶屋北斗】</span> 各店のレジカウンター
			.inner
				.subttl
					h4 ハタダ
				.cont
					p <span class="bold">【下記14店舗のレジカウンター】</span><br>
						| 田の上店、宮西店、滝の宮公園前店、国領店、産業道路店、今治国際ホテル店、
						| 南鳥生店、お菓子館、高尾田店、樽味店、アルドールはただ重信、八幡浜店、
						| アルドールはただ高松店、成合店
			.inner
				.subttl
					h4 松山全日空ホテル
				.cont
					p <span class="bold">【松山全日空ホテル1Fフロント】</span>
					p.fineindent ※ご宿泊およびお食事にご利用いただけます。AVAではご利用いただけません。
		.area--title_border.area--title_border--orange.mt20
			h3 割引券として利用
			.inner
				.subttl
					h4 レデイ薬局全店
				.cont
					p <span class="bold">【くすりのレデイ（レデイ薬局含む）、メディコ21】</span><br>※額面金額以上のお支払いの際に割引券としてご利用いただけます。<br>※処方箋調剤のお支払いにはご利用いただけません。
			.inner
				.subttl
					h4 フジトラベルサービス
				.cont
					p <span class="bold">【愛媛県内の下記10店舗】</span><br>エミフルMASAKI 、EC団体旅行愛媛営業部、トムズ松山店、トムズ東温営業所、トムズ大洲営業所、トムズ宇和島営業所、トムズ今治営業所、トムズ西条（東予営業所内）、トムズ新居浜営業所、トムズ四国中央営業所
					p.fineindent ※IYOCAにて旅行代金などをお支払いの場合に限り、割引券としてご利用いただけます。
		.area--title_border.area--title_border--orange.mt20.mb60
			h3 電子マネーへのチャージ
			.inner
				.subttl
					h4 愛媛大学生協電子マネー「ipa」
				.cont
					p <span class="bold">【下記4店舗のレジカウンター】</span><br>
						| 【城北キャンパス】 城北ショップ、愛大ショップ えみか<br>
						| 【農学部キャンパス】 生協ショップ あぐりん<br>
						| 【医学部キャンパス】 生協ショップ アルストア<br>
			.inner
				.subttl
					h4 松山大学生協電子マネー「Pine」
				.cont
					p <span class="bold">【下記店舗のレジカウンター】</span><br>松山大学生協カルフールショップ
	h3.ac.mb30#con02
		img(src="../images/point_exchange/img12.png", alt="IYOCA オリジナル商品への交換方法",title="IYOCA オリジナル商品への交換方法")
	h4.ac.mb20
		img(src="../images/point_exchange/img13.png", alt="IYOCA DC【 一般・ゴールド】の場合",title="IYOCA DC【 一般・ゴールド】の場合")
	.pl15.pr15
		.row--col2--layout_table--line(style="table-layout:fixed;border:0;")
			.row
				.col.ac.vc(style="width:25%")
					img(src="../images/point_save/img27.png", alt="インターネット",title="インターネット")
				.col.al.vc
					a(href="https://www2.cr.mufg.jp/newsplus/iyo/").pbOpenNewWindow
						img(src="../images/point_save/img28.png", alt="会員専用Webサイト「DC Webサービス」",title="会員専用Webサイト「DC Webサービス」")
					p ※サービスのご利用にはご登録が必要です。
			.row
				.col(style="width:25%").ac.pb0
					img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
				.col.al.vc.pb0
					p.fs18.bold 「DCハッピープレゼントデスク」
					p.hasicon--orange.fs30 03-3770-3030
					p.mb10 （24時間・年中無休・自動音声）<br>音声ガイダンスに従って操作してください。
	p.ac
		img(src="../images/point_exchange/img17.png", alt="伊予鉄い〜カードチャージ引換券 商品番号 812 IYOCAトクトク共通券 商品番号 813",title="伊予鉄い〜カードチャージ引換券 商品番号 812 IYOCAトクトク共通券 商品番号 813")
	.mt10.pl25.pr25.mb20
		p.fineindent ※カード番号（16桁）が必要となります。お手元にIYOCA DCカードをご用意ください。
	.pl15.pr15
		.row--col2--layout_table--line(style="table-layout:fixed;border:0;")
			.row
				.col.ac.vc(style="width:25%")
					img(src="../images/point_exchange/img18.png", alt="郵送",title="郵送")
				.col.al.vc
					p 「DCハッピープレゼント」の応募用紙で、郵送により商品交換のお申し込みがいただけます。
					p.fineindent ※応募用紙は、上記電話での請求またはDC Webサービスからダウンロードできます。
	.sep20.mr15.ml15.mb40
	h4.ac
		img(src="../images/point_exchange/img19.png", alt="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合",title="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合")

	.pl15.pr15.mb20
		.row--col2--layout_table--line(style="table-layout:fixed;border:0;")
			.row
				.col(style="width:25%;border:0;").ac.pb0
					img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
				.col.al.vc.pb0(style="border:0;")
					p.fs18.bold 商品応募ダイヤル
					p.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_free.png`, alt="")
						| 0120-409-309
					p.fs16.bold 携帯電話からは&nbsp;0570-00-3331（有料）
					p.mt10 （24時間・年中無休・自動音声）<br>音声ガイダンスに従って操作してください

	p.ac
		img(src="../images/point_exchange/img20.png", alt="伊予鉄い&#xff5e;カードチャージ引換券 商品番号 00111558 IYOCAトクトク共通券 商品番号 00111648",title="伊予鉄い&#xff5e;カードチャージ引換券 商品番号 00111558 IYOCAトクトク共通券 商品番号 00111648")
	ul.fixindent.mt5.pl25.pr25
		li ※IYOCAオリジナル交換商品への交換方法はお電話のみとなります。
		li ※カード番号（16桁）が必要となります。お手元にIYOCA JCBカードをご用意ください。
	.sep20.mr15.ml15.mb40
	h4.ac
		img(src="../images/point_exchange/img21.png", alt="IYOCA BC【 一般・ゴールド】の場合",title="IYOCA BC【 一般・ゴールド】の場合")
	.pl15.pr15
		.row--col2--layout_table--line(style="table-layout:fixed;border:0;")
			.row
				.col.ac.vc(style="width:25%;border:0;").ac
					img(src="../images/point_save/img27.png", alt="インターネット",title="インターネット")
				.col.al.vc(style="border:0;")
					a(href="http://www3.vpass.ne.jp/mem/top/index.jsp?cc=064").pbOpenNewWindow
						img(src="../images/point_save/img37.png", alt="会員専用Webサイト「Vpass（ブイパス）」",title="会員専用Webサイト「Vpass（ブイパス）」")
					p ※サービスのご利用にはご登録が必要です。
			.row
				.col.ac(style="width:25%")
					img(src="../images/point_save/img29.png", alt="お電話",title="お電話")
				.col.al.vc
					p.fs18.bold 商品応募ダイヤル
					p.hasicon--orange.hasicon--orange--tel
						img(src=`${assets_prefix}images/icon_free.png`, alt="")
						| 0120-911-911
					p.mt10 （24時間・年中無休・自動音声）<br>音声ガイダンスに従って操作してください。
		p.ac
			img(src="../images/point_exchange/img23.png", alt="伊予鉄い〜カードチャージ引換券 商品番号 9927 IYOCAトクトク共通券 商品番号 9975",title="伊予鉄い〜カードチャージ引換券 商品番号 9927 IYOCAトクトク共通券 商品番号 9975")
		.pl25.pr25
			p.mt5.fineindent ※カード番号（16桁）が必要となります。お手元にIYOCA BCカードをご用意ください。
	.sep20.mr15.ml15.mb40

	h3.ac.mb20#con03
		img(src="../images/point_exchange/img24.png", alt="その他商品交換・ポイント移行",title="その他商品交換・ポイント移行")
	p.pl15.pr15.mb20 貯まったポイントをお好きな商品や他社ポイントに交換できます。
	h4.ac.mb20
		img(src="../images/point_exchange/img25.png", alt="IYOCA DC【 一般・ゴールド】の場合",title="IYOCA DC【 一般・ゴールド】の場合")
	.row--col2--layout_table.pl15.pr15
		.col(style="width:180px;text-align:right;")
			img(src="../images/point_exchange/img26.png", alt="",title="")
		.col.vc.pl20
			p
				a(href="http://www.cr.mufg.jp/dc/point/happy/index.html").pbOpenNewWindow
					img(src="../images/point_exchange/img27.png", alt="DCハッピープレゼント",title="DCハッピープレゼント")
			p.mt10
				a(href="https://www3.vpass.ne.jp/mem/wp/keihin.jsp?cc=064").pbOpenNewWindow
					img(src="../images/point_exchange/img28.png", alt="ポイントの移行について",title="ポイントの移行について")
	.sep20.mr15.ml15.mb40

	h4.ac.mb20
		img(src="../images/point_exchange/img29.png", alt="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合",title="IYOCA JCB【 一般・ゴールド・EXTAGE】の場合")
	.row--col2--layout_table.pl15.pr15
		.col(style="width:180px;text-align:right;")
			img(src="../images/point_exchange/img30.png", alt="",title="")
		.col.vc.pl20
			p
				a(href="http://www.jcb.co.jp/point/").pbOpenNewWindow
					img(src="../images/point_exchange/img31.png", alt="OkiDokiポイントプログラム",title="OkiDokiポイントプログラム")
			p.mt10
				a(href="http://www.jcb.co.jp/point/use/transfer/").pbOpenNewWindow
					img(src="../images/point_exchange/img28.png", alt="ポイントの移行について",title="ポイントの移行について")
	.sep20.mr15.ml15.mb40

	h4.ac.mb20
		img(src="../images/point_exchange/img32.png", alt="IYOCA BC【 一般・ゴールド】の場合",title="IYOCA BC【 一般・ゴールド】の場合")
	.row--col2--layout_table.pl15.pr15.mb15
		.col(style="width:180px;text-align:right;")
			img(src="../images/point_exchange/img33.png", alt="",title="")
		.col.vc.pl20
			p
				a(href="http://www3.vpass.ne.jp/mem/wp/index.jsp?cc=064").pbOpenNewWindow
					img(src="../images/point_exchange/img34.png", alt="ワールドプレゼント",title="ワールドプレゼント")
			p.mt10
				a(href="https://www3.vpass.ne.jp/mem/wp/keihin.jsp?cc=064").pbOpenNewWindow
					img(src="../images/point_exchange/img28.png", alt="ポイントの移行について",title="ポイントの移行について")

	.sep20.mr15.ml15.mb40
	p.ac.mb10
		a(href="iyoca_new/point_save/#con03")
			img(src="../images/point_exchange/img35.png", alt="ポイントを確認する！",title="ポイントを確認する！")
	p.ac.mb40
		a(href="/iyoca_new/point_save/")
			img(src="../images/point_exchange/img36.png", alt="ポイントを貯める！",title="ポイントを貯める！")
